html, body { font-family: 'Lekton', 'Lobster', sans-serif; }
.video-foreground,
#section0 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.layer {
	color: #fff;
	bottom: 20%;
	left: 20px;
}
.layer a.logosvg object embed {
	width: 100px;
	margin-left: 3%;
}
#section2 .layer { color: #fff; left: 20px; bottom: 40%; }
#section2 .layer a {
	padding: 5px 20px;
	background: #fcfcfc;
	color: #1d1d1d;
}
#section2 .layer a:hover {
	background: #1d1d1d;
	color: #fcfcfc;
	text-decoration: none;
	transition: all ease 1s;
}
#section3 .layer { color: #1d1d1d; padding-right: 50px; }
#section3 .layer a { margin-left: 50px; }
.column-1 {
	margin-bottom: 3rem;
}
.image-holder {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}
.head-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
}
.head-image { z-index: 0; }
.front { z-index: 1; }
.one { 
	border-radius: 50%;
    border: 5px solid #1d1d1d;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.line {
	position: absolute;
	top: 49%;
	z-index: 5;
	width: 33%;
	height: 10px;
}
.line-white {
	background: #fff;
	right: 0;
}
.line-black {
	background: #1d1d1d;
	left: 0;
}
iframe {
	width: 90%;
	height: 90%;
}
col-sm-4 { float: left; }
@media (min-aspect-ratio: 16/9) {
  #section0 #video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #section0 #video { width: 300%; left: -100%; }
}