<!DOCTYPE html>
html(lang="en")
    include header.pug
    body
        .wrap
            include nav.pug

            //- .spacer.s2

            //- #trigger.space.s0


            //- #target
            //-     img#plane(src="images/plane.png", alt="")
            
            //- .spacer.s2

            include images/4c4k.svg

            footer

        include js.pug