<!DOCTYPE html>
html(lang="en")
    include header.pug
    body
        .wrap
            include nav.pug

            .spacer.s2

            #trigger.space.s0


            #target
                img#plane(src="http://scrollmagic.io/assets/img/example_bezier.png", alt="")
            
            .spacer.s2

            footer
                

        include js.pug