script(src="js/jquery.js")
script(src="js/gsap.min.js")
script(src="js/scrollMagic.min.js")
script(src="js/animation.gsap.min.js")
script(src="js/scrollMagicIndicators.min.js")
script(src="js/script.js")