.blog-template-layout {
    background: rgb(243, 243, 243);
    header {
        .d-nav {
            background: #000;
            color: #ffffff;
        }
    }
}

#news-feature {
    margin-top: 150px;
    h1 {
        font-size: 35px;
        padding-left: 50px;
    }
    .fa {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
        z-index: 2;
        font-size: 30px;
        cursor: pointer;
        &.fa-chevron-left {
            left: 20px;
        }
        &.fa-chevron-right {
            right: 20px;
        }
    }
    .item {
        height: 340px;
        width: 510px;
        overflow: hidden;
        position: relative;
        &:hover {
            h2 {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);
            }
            &:before {
                background: rgba($c1, .8);
            }
        }
        h2 {
            position: absolute;
            bottom: 0;
            left: 0;
            font-weight: bold;
            color: #ffffff;
            font-size: 20px;
            padding: 40px 20px 60px;
            @include set-lineMax(1, 40px);
            transition: .3s;
        }
        &:before {
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.78) 1%,rgba(0,0,0,0) 100%);
            transition: .3s;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

#blog {
    margin-top: 70px;
    .blog-list {
        .item {
            border: 1px solid rgb(219, 219, 219);
            position: relative;
            min-height: 300px;
            margin-bottom: 30px;
            background: #ffffff;
            &:hover {
                .detail {
                    padding: 40px 7px;
                    border-top: 1px solid $c1;
                }
            }
            img {
                width: 100%;
            }
            .detail {
                position: absolute;
                bottom: 30px;
                padding: 20px 7px;
                transition: .3s;
                background: #ffffff;
                border-top: 1px solid #ffffff;
                h3 {
                    font-weight: bold;
                    @include set-lineMax(2, 18px);
                }
                p {
                    font-size: 12px;
                    transition: .3s;
                    @include set-lineMax(1, 14px);
                }
            }
            a {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                &.blog-tag {
                    z-index: 2;
                    bottom: 5px;
                    top: auto;
                    left: 7px;
                    background: $c1;
                    display: inline;
                    width: auto;
                    height: 20px;
                    padding: 2px 4px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }
        }
    }
}

.more-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: rgba($c1, 1);
    padding: 5px 10px 7px;
    border-radius: 3px;
    margin: 20px auto 0;
    &:hover {
        background: rgb(163, 29, 29);
    }
}

.right-side-bar {
    .search-field {
        background: #ffffff;
        padding: 20px 15px;
        border: 1px solid rgb(219, 219, 219);
        h2 {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .s-line {
            width: 100%;
            label {
                position: relative;
                input[type=radio] {
                    position: absolute;
                    opacity: 0;
                    &:checked {
                        ~span {
                            color: $c1;
                        }
                    }
                }
                span {
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            input[type=text] {
                border: 1px solid $c1;
                width: 100%;
                height: 35px;
                margin: 10px 0;
            }
            button {
                padding: 5px;
                background: $c1;
                border-radius: 3px;
                color: #ffffff;
                width: 100%;
                text-align: center;
                font-weight: bold;
                &:hover {
                    background: rgb(196, 31, 31);
                }
            }
        }
    }
}