body{
	font-size: 14px;
	font-family: $f1;
	line-height: 1.5;
	color: $color_text;
}

::selection {
	background: $c1; /* WebKit/Blink Browsers */
}
::-moz-selection {
background: $c1; /* Gecko Browsers */
}

.wrap {
	overflow: hidden;
}
