header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &.fixed {
        .d-nav {
            background: rgba(#fff, .9);
            color: #000000;
            >a {
                &.slogo {
                    left: 0;
                }
                &.logo {
                    top: -120px;
                }
            }
        }
    }
}
.d-nav {
    display: flex;
    height: 70px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    background: rgba(#fff, 0);
    color: #ffffff;
    transition: .6s;
    > a {
        position: absolute;
        &.slogo {
            top: 0;
            left: -80px;
            background: #d41e34;
            height: 70px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .6s;
            img {
                width: 60%;
            }
        }
        &.logo {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 110px;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #d41e34;
            transition: .6s;
            img {
                width: 90%;
            }
        }
    }
    ul {
        display: flex;
        position: relative;
        &.top-left-menu {
            margin-left: 110px;
        }
        &.top-right-menu {
            margin-right: 110px;
        }
        li {
            margin: 0 10px;
            padding: 10px 0;
            &:hover {
                > ul {
                    display: flex;
                }
            }
        }
        a {
            display: flex;
            align-items: center;
            transition: .3s;
            &:hover {
                color: $c1;
            }
        }
        span {
            margin-right: 5px;
            font-size: 23px;
        }
    }
    .city-list {
        display: none;
        flex-direction: column;
        position: absolute;
        background: #f7f7f7;
        top: calc(100%);
        left: 0;
        transform: translateX(-25%);
        color: #000000;
        font-weight: bold;
        min-width: 200px;
        box-shadow: 0 0 10px rgb(110, 110, 110);
        &:before {
            content: "";
            @include css-triangle($c1, up, 7px, 7px);
            position: absolute;
            top: -7px;
            left: 50%;
            transform: translateX(-50%);
        }
        li {
            padding: 0;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
            }
            &:first-child {
                margin-top: 10px;
            }
            &:last-child {
                margin-bottom: 15px;
            }
        }
    }
}