.page-template-sell {
    header {
        width: 70px;
        height: 100%;
        background: #747D7D;
        .d-nav {
            display: flex;
            flex-direction: column;
            .slogo {
                left: 0;
                width: 70px;
                height: 70px;
            }
            .top-left-menu {
                flex-direction: column;
                margin-top: 70px;
                margin-left: 0;
                > li {
                    margin: 0;
                    position: relative;
                    &:hover {
                        background: rgb(99, 28, 28);
                        > ul {
                            display: flex;
                        }
                        > a {
                            color: #ffffff;
                            span {
                                left: 50%;
                                &.fa {
                                    top: 35%;
                                }
                            }
                        }
                    }
                    > a {
                        display: flex;
                        position: relative;
                        width: 70px;
                        height: 50px;
                        span {
                            position: absolute;
                            left: -100%;
                            top: 75%;
                            transform: translate(-50%, -50%);
                            font-size: 13px;
                            transition: .3s;
                            &.fa {
                                font-size: 16px;
                                text-indent: 0;
                                top: 50%;
                                left: 50%;
                            }
                        }
                    }
                    ul {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        left: 100%;
                        top: 0;
                        background: rgb(48, 11, 11);
                        font-size: 13px;
                        li {
                            margin: 0;
                            a {
                                text-transform: none;
                                display: flex;
                                align-items: center;
                                min-width: 260px;
                                padding: 0 20px;
                                height: 35px;
                                transform: .3s;
                                &:hover {
                                    background: #b11a1a;
                                    padding-left: 25px;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.top-search-form {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    input {
        height: 100%;
        width: 100%;
        padding-left: 125px;
        border:0;
        box-shadow: 0 1px 5px rgb(184, 184, 184);
        &::placeholder {
            font-style: italic;
            color: rgb(190, 190, 190);
        }
    }
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90px;
        font-size: 20px;
    }
}
#map {
    height: 100vh;
    z-index: 2;
    position: fixed !important;
    + .col-lg-6 {
        padding: 0;
    }
}
#filter {
    margin-top: 70px;
    padding: 20px 15px;
    box-shadow: 0 2px 3px #e9ecef;
    h3 {
        font-size: 18px;
    }
    button {
        font-size: 20px;
        color: rgb(112, 112, 112);
    }
    .filter-content {
        label {
            width: 100%;
            margin-bottom: 5px;
            &.enab {
                margin-bottom: 30px;
            }
            select {
                display: block;
                height: 40px;
                width: 100%;
                border: 1px solid rgb(165, 165, 165);
                border-radius: 3px;
            }
            input {
                display: block;
                border: 1px solid rgb(165, 165, 165);
                border-radius: 3px;
                width: 100%;
                height: 40px;
                &[type=checkbox] {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        button {
            background: #ea3d36;
            color: #ffffff;
            font-size: 16px;
            padding: 5px 8px;
            border-radius: 3px;
            margin-right: 15px;
            &:hover {
                background: $c1;
            }
        }
    }
    .ui-widget.ui-widget-content {
        height: 5px;
        background: #c5c5c5;
        margin-top: 30px;
    }
    .ui-widget-header  {
        background: $c1;
        height: 5px;
    }
    .ui-slider-horizontal .ui-slider-handle {
        outline: none;
        cursor: pointer;
        &.ui-state-active {
            border: 1px solid #747D7D;
        }
        &:nth-child(2) {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            top: -7px;
            background: #ffffff;
        }
        &:nth-child(3), &:nth-child(3) + span {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            top: -7px;
            background: #ffffff;
        }
    }
}
.toggle-btn {
    display: flex;
    justify-content: flex-end;
    button {
        transition: .3s;
        &:hover {
            color: $c1 !important;
        }
    }
}
.formField {
    position: relative;
    margin-top: 13px;
    &.sl {
        padding: 0 8px 0 5px;
    }
    .chosen-container {
        width: 100% !important;
        ul {
            border-radius: 3px;
            &.chosen-choices {
                display: flex;
                align-items: center;
            }
            li {
                height: 100%;
                display: inline-flex;
                align-items: center;
                &.search-choice {
                    margin: 0 3px;
                    height: 70%;
                }
            }
        }
    }
    .sliderTooltip {
        position: absolute;
        padding: 5px 0;
        margin-top: -3px;
        margin-left: 2px;
        top: -34px;
        z-index: 6;
        .stLabel {
            background-color: $c1;
            font-size: 11px;
            line-height: 12px;
            color: #fff;
            padding: 4px 6px;
            border-radius: 2px;
            text-align: center;
            white-space: nowrap;
        }
        &:after {
            content: "";
            position: relative;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            @include css-triangle($c1, down, 5px, 5px);
        }
    }
    a.dropdown-btn.btn-gray {
        background-color: #fff;
        border-color: #aaa;
        color: #333;
        width: 100%;
        text-align: left;
        outline: none;
    }
    .dropdown-select {
        border-radius: 2px;
        border: 1px solid #dfdfdf;
        transition: .3s;
        &.full {
            width: 100%;
        }
    }
    .dropdown-menu, .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 6;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 13px;
        background-color: #fff;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
}
#prop-category {
    + span {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        background: #ffffff;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            @include css-triangle($c1, down, 7px, 5px);
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
        }
        .ui-selectmenu-icon {
            display: none;
        }
    }
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: $c1 !important;
    border: 1px solid $c1 !important;
}

.checkbox {
    position: relative;
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        &:checked {
            ~ span {
                background: $c1;
            }
        }
    }
    label {
        cursor: pointer;
        &:hover {
            input {
                ~ span {
                    background: rgba($c1, .5);
                }
            }
        }
    }
    span {
        background-color: #fff;
        border: 1px solid #999;
        font-size: 10px;
        line-height: 10px;
        padding: 3px;
        border-radius: 2px;
        float: left;
        margin-right: 5px;
        color: #fff;
        transition: all .2s ease-in-out;
        &:before {
            content: "\f00c";
        }
    }
}
.volume {
    display: flex;
    input {
        background: #ffffff !important;
        width: 40%;
        text-align: center;
        border-radius: 0%;
        border-right: 0;
        border-left:0;
    }
    > a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgba(#e9ecef,.3);
        width: 20%;
        outline: none;
        border: 1px solid #ced4da;
        &:focus {
            box-shadow: 0 0 0 0;
        }
        &:hover {
            background: rgba(#e9ecef,1);
        }
        &.btn-round-left {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &.btn-round-right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }
}
.submit-search {
    margin: 20px 0 0;
}

#search-results {
    background: #f3f3f3;
    padding: 10px 15px;
    .row {
        align-items: center;
        .col-6 {
            display: flex;
            align-items: center;
            h3 {
                font-size: 18px;
            }
            .property-sort {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                label {
                    margin-right: 5px;
                }
                > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0;
                    background: #ffffff;
                    height: 30px;
                }
            }
        }
    }
}

.search-content {
    margin-top: 30px;
    .item {
        position: relative;
        background: #ffffff;
        margin-bottom: 20px;
        > a {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &:hover {
            .photo {
                img {
                    transform: scale(1);
                }
                span.fa-eye {
                    opacity: 0.5;
                    transform: translate(-50%, -50%) scale(1.5);
                }
            }
        }
        .photo {
            position: relative;
            height: 250px;
            overflow: hidden;
            span {
                position: absolute;
                color: #ffffff;
                &.tag {
                    background: #eab134;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: bold;
                    top: 10px;
                    left: 10px;
                    padding: 1px 3px;
                }
                &.fa-eye {
                    transition: .3s;
                    opacity: 0;
                    font-size: 40px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(2);
                }
            }
            img {
                height: 100%;
                width: 100%;
                transform: scale(1.2);
                transition: .3s;
            }
        }
        .detail {
            padding: 0 10px;
            h4 {
                font-size: 16px;
                font-weight: bold;
                margin: 5px 0;
                @include set-lineMax(1, 18px);
            }
            p {
                color: rgb(100, 100, 100);
                span {
                    margin: 0 5px;
                    color: rgba($c1, .8);
                }
            }
            .interior {
                color: rgb(100, 100, 100);
                margin: 5px 5px 5px -7px;
                display: flex;
                .di {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: 10%;
                    .fa {
                        color: rgba($c1, .8);
                    }
                }
            }
            .price {
                padding-bottom: 10px;
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }
}