@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/CenturyGothic.woff') format('woff');
}
@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/CenturyGothic-Bold.woff') format('woff');
	font-weight: bold;
}

$font-family-base: 'CenturyGothic', sans-serif;
// ..........
$f1: $font-family-base;