@font-face {
	font-family: 'BodoniBook';
	src: url('fonts/BodoniBook.ttf') format('truetype');
}
@font-face {
	font-family: 'BodoniBook';
	src: url('fonts/BodoniBookItalic.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'GOTHIC';
	src: url('fonts/GOTHIC.ttf') format('truetype');
}
@font-face {
	font-family: 'GOTHIC';
	src: url('fonts/GOTHICB.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'MYRIADPRO';
	src: url('MYRIADPRO-REGULAR.otf') format('opentype');
}
@font-face {
	font-family: 'MYRIADPRO';
	src: url('MYRIADPRO-LIGHT.otf') format('opentype');
	font-weight: lighter;
}
@font-face {
	font-family: 'MYRIADPRO';
	src: url('MYRIADPRO-BOLD.otf') format('opentype');
	font-weight: bold;
}

$font-family-base: 'BodoniBook', sans-serif;
$font-family-base-2: 'GOTHIC', sans-serif;
$font-family-base-3: 'MYRIADPRO', sans-serif;
// ..........
$f1: $font-family-base;
$f2: $font-family-base-2;
$f3: $font-family-base-3;