* {
  margin: 0;
  padding: 0; }

#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000; }

.sq {
  float: left;
  -webkit-transition: ease-in-out 0.8s;
  -o-transition: ease-in-out 0.8s;
  transition: ease-in-out 0.8s;
  border: 0.5px solid rgba(255, 255, 255, 0);
  position: relative;
  color: #bf9b30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px; }
  @media (min-width: 750px) {
    .sq {
      font-size: calc(1.64706vw + 3.64706px); } }
  @media (min-width: 1600px) {
    .sq {
      font-size: 30px; } }
  .sq .tooltip {
    position: absolute;
    top: -15px;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    font-size: 12px;
    display: none;
    background: #252525;
    border-radius: 3px;
    padding: 5px 10px; }
    @media (min-width: 320px) {
      .sq .tooltip {
        font-size: calc(0.93023vw + 9.02326px); } }
    @media (min-width: 750px) {
      .sq .tooltip {
        font-size: 16px; } }
    .sq .tooltip.facebook {
      text-align: center; }
      .sq .tooltip.facebook img {
        border-radius: 50%; }
    .sq .tooltip.heart {
      text-align: center; }
      .sq .tooltip.heart img {
        border-radius: 50%; }
    .sq .tooltip::before {
      content: '';
      position: absolute;
      bottom: 0;
      top: auto;
      left: 50%;
      right: auto;
      -webkit-transform: translate(-50%, 50%) rotate(45deg);
      -ms-transform: translate(-50%, 50%) rotate(45deg);
      transform: translate(-50%, 50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background: #252525; }
    .sq .tooltip.goBottom {
      top: calc(100% + 15px);
      left: 50%;
      -webkit-transform: translate(-50%, -10%);
      -ms-transform: translate(-50%, -10%);
      transform: translate(-50%, -10%); }
      .sq .tooltip.goBottom::before {
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }
    .sq .tooltip.goLeft {
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%) translateX(-110%);
      -ms-transform: translateY(-50%) translateX(-110%);
      transform: translateY(-50%) translateX(-110%); }
      .sq .tooltip.goLeft::before {
        top: 50%;
        left: 100%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }
    .sq .tooltip.goRight {
      top: 50%;
      left: 100%;
      -webkit-transform: translateY(-50%) translateX(10%);
      -ms-transform: translateY(-50%) translateX(10%);
      transform: translateY(-50%) translateX(10%); }
      .sq .tooltip.goRight::before {
        top: 50%;
        left: 0;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }
    .sq .tooltip p {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      white-space: nowrap; }
      .sq .tooltip p:not(:first-child) {
        margin-top: 0.5rem; }
      .sq .tooltip p span {
        margin-left: 5px; }
      .sq .tooltip p.heartbeat span {
        text-decoration: line-through; }
  .sq a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .sq .sqc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .sq .sqc span {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 1px);
      height: calc(100% - 1px); }
      .sq .sqc span:nth-child(1) {
        border-left: 1px solid #bf9b30; }
      .sq .sqc span:nth-child(2) {
        border-top: 1px solid #bf9b30; }
      .sq .sqc span:nth-child(3) {
        border-right: 1px solid #bf9b30; }
      .sq .sqc span:nth-child(4) {
        border-bottom: 1px solid #bf9b30; }
  .sq.fa {
    cursor: pointer; }
    .sq.fa:hover {
      background: rgba(191, 155, 48, 0.2);
      opacity: 1 !important; }
  .sq:hover {
    background: #bf9b30;
    -webkit-transition: ease-in-out 0s;
    -o-transition: ease-in-out 0s;
    transition: ease-in-out 0s; }
    .sq:hover .tooltip {
      display: block;
      z-index: 3; }

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 10; }
  #splash .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #splash .wrapper span {
      width: 40px;
      height: 40px;
      display: block;
      background: #bf9b30;
      position: absolute;
      border: 1px solid #000;
      outline: none;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      top: auto;
      left: auto; }
    #splash .wrapper div {
      position: absolute;
      width: 180px;
      height: 180px;
      border: 1px solid #bf9b30;
      opacity: 0; }

#project {
  position: fixed;
  z-index: 100;
  width: 40vw;
  right: -40vw;
  height: 100%;
  background: #292929;
  top: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #project.open {
    right: 0; }
  #project > .close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
    font-family: Tahoma; }
  #project ul {
    list-style: none; }
    #project ul li {
      text-align: center;
      margin: 30px 0; }
      #project ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
        font-family: Tahoma;
        letter-spacing: 1px;
        font-size: 1.2em;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        #project ul li a:hover {
          letter-spacing: 3px; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
