<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="stylesheet", href="main.css")
        title Document
    body
        #splash
            .wrapper
                .outer1
                //- .outer2
                span.spl1
                span.spl2
                span.spl3
                span.spl4
                span.spl5



        script(src="js/jquery.min.js")
        script(src="js/jquery-migrate.min.js")
        script(src="js/gsap.min.js")
        script(src="js/chance.min.js")
        script(src="main.js")
        script.
            splashScreen();