#intro1 {
    margin-top: 90px;
    padding: 80px 0;
    @media all and (max-width: 1366px) {
        margin-top: 70px;
        padding: 40px 0;
    }
    h1 {
        font-size: 40px;
        font-weight: bold;
        position: relative;
        color: #ffffff;
        @media all and (max-width: 1366px) {
            font-size: 30px;
        }
    }
}

#intro1-1 {
    padding-top: 60px;
    .row {
        justify-content: center;
    }
    .col-lg-6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 35px 0;
        @media all and (max-width: 1440px) {
            margin: 25px 0;
        }
        @media all and (max-width: 767px) {
            flex-direction: column;
            a {
                margin: 20px 0;
            }
        }
    }
    h3 {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
    }
}

#intro2 {
    .row {
        position: relative;
        margin: 70px auto;
        justify-content: center;
        &::before {
            content:"";
            position: absolute;
            display: block;
            width: 50%;
            height: 1px;
            background: #000000;
            left: 50%;
            top: -35px;
            transform: translateX(-50%);
        }
        &:last-child {
            margin-top: 0px;
            &:before {
                display: none;
            }
        }
    }
    .col-md-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
            text-align: center;
        }
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        font-family: $fr;
        margin: 45px 0 25px;
        text-align: center;
        position: relative;
        @media all and (max-width: 1366px) {
            font-size: 25px;
            margin: 25px 0 15px;
        }
    }
    h4 {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 20px 0px 10px;
    }
    img {
        &.w {
            width: 100%;
            margin: 15px 0;
            height: auto;
        }
        height: 90px;
    }
    p {
        text-align: justify;
    }
}

#intro3 {
    margin-top: 55px;
    background: #f2f2f2;
    padding: 70px 0;
    @media all and (max-width: 1366px) {
        margin-top: 25px;
        padding: 30px 0;
    }
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 35px;
        @media all and (max-width: 1366px) {
            font-size: 30px;
            margin-bottom: 25px;
        }
    }
    .col-lg-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 70px 0;
        @media all and (max-width: 1366px) {
            margin: 35px 0;
        }
    }
    img {
        opacity: .55;
        max-width: 290px;
        transition: .3s;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}

#contact {
    &.intro4 {
        margin-top: 90px;
        @media all and (max-width: 1366px) {
            margin-top: 50px;
        }
        h1 {
            font-size: 40px;
            font-weight: bold;
            position: relative;
            margin-bottom: 45px;
            text-align: left;
            text-transform: capitalize;
            @media all and (max-width: 1366px) {
                font-size: 30px;
                margin-bottom: 25px;
            }
            // &:before {
            //     content: "03.";
            //     position: absolute;
            //     font-size: 40px;
            //     color: $c1;
            //     bottom: 0;
            //     left: -85px;
            //     @media all and (max-width: 1366px) {
            //         font-size: 30px;
            //         left: -45px;
            //     }
            // }
        }
        
    }
}