.news {
    h1 {
        font-size: 40px;
        font-weight: bold;
        position: relative;
        margin: 70px 0;
        @media all and (max-width: 1366px) {
            font-size: 30px;
            margin: 30px 0;
        }
        // &:before {
        //     content: "";
        //     width: 10px;
        //     height: 10px;
        //     background: $c1;
        //     border-radius: 50%;
        //     display: block;
        //     position: absolute;
        //     top: 50%;
        //     left: -30px;
        //     transform: translateY(-50%);
        // }
    }
    h2 {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 25px;
        line-height: 35px;
        @media all and (max-width: 1366px) {
            font-size: 22px;
            margin-bottom: 15px;
            line-height: 30px;
        }
        @media all and (max-width: 1024px) {
            font-size: 18px;
            line-height: 20px;
            @include set-lineMax(2, 20px);
        }
    }
    .nav-tabs {
        border:0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        li {
            font-size: 22px;
            font-weight: bold;
            color: #b9b9b9;
            padding: 0;
            height: 60px;
            @media all and (max-width: 1366px) {
                font-size: 20px;
            }
            @media all and (max-width: 1024px) {
                font-size: 14px;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transition: .3s;
                &.active {
                    color:#fff;
                    background: $c1;
                }
            }
        }
    }
    .tab-content > .active {
        display: flex;
        flex-wrap: wrap;
    }
    .col-12 {
        position: relative;
        color: #fff;
        padding: 0;
        margin-bottom: 15px;
        &:hover {
            &:before {
                background: rgba($c2, .7);
            }
            h2 {
                color: $c1;
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($c2, 0);
            transition: .3s;
        }
        img {
            width: 100%;
        }
        h2 {
            position: absolute;
            left: 8%;
            bottom: 25%;
            max-width: 50%;
            @media all and (max-width: 1024px) {
                bottom: 45%;
                left: 10px;
                max-width: calc(100% - 10px);
                font-size: 18px;
                line-height: 20px;
            }
        }
        p {
            position: absolute;
            bottom: 12%;
            left: 8%;
            display: flex;
            max-width: 60%;
            @media all and (max-width: 1024px) {
                left: 10px;
                max-width: calc(100% - 10px);
                font-size: 12px;
                @include set-lineMax(3, 14px);
            }
        }
        a {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .col-6 {
        @extend %abs-link;
        &:nth-child(2) {
            padding-left: 0;
        }
        &:nth-child(3) {
            padding-right: 0;
        }
        h2 {
            margin-top: 15px;
        }
        p {
            font-size: 14px;
            @include set-lineMax(1, 16px);
        }
    }
    button {
        margin: 55px auto 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        color: $c1;
        border: 3px solid $c1;
        padding: 14px 50px;
        transition: .3s;
        ion-icon {
            margin-left: 10px;
            font-size: 16px;
        }
        &:hover {
            background: $c1;
            color: $c2;
        }
    }
}

#sukien {
    margin-bottom: 90px;
    @media all and (max-width: 1366px) {
        margin-bottom: 50px;
    }
}
.fancybox-slide {
    padding: 0;
    width: 100%;
    overflow: hidden;
}
.fancybox-infobar, .fancybox-toolbar, .fancybox-navigation {
    display: none;
}