#tuyendung {
    h1 {
        text-align: center;
    }
}

#tuyendung2 {
    border-top: 1px solid $c2;
    margin-top: 60px;
    padding-top: 60px;
    @media all and (max-width: 1366px) {
        margin-top: 30px;
        padding-top: 30px;
    }
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        @media all and (max-width: 1366px) {
            font-size: 30px;
        }
    }
    .form {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;
        @media all and (max-width: 1366px) {
            margin-top: 50px;
        }
        .col-lg-5 {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        label {
            font-weight: bold;
            font-size: 18px;
            margin: 35px 0 15px;
        }
        input {
            font-size: 14px;
            font-style: italic;
            padding: 20px;
            border: 2px solid $c2;
            @media all and (max-width: 1366px) {
                padding: 10px;
            }
            &:focus {
                border: 2px solid $c1;
            }
        }
        .col-lg-12 {
            display: flex;
            flex-direction: column;
            padding: 0;
            textarea {
                border: 2px solid $c2;
                font-style: italic;
                &:focus {
                    border: 2px solid $c1;
                }
            }
        }
        .col-12 {
            display: flex;
            flex-direction: column;
            padding: 0;
            input[type=button] {
                width: 30%;
                margin: 35px auto 10px;
                border:0;
                background: #ffffff;
                border-bottom: 2px solid $c1;
                cursor: pointer;
                + p {
                    display: block;
                    text-align: center;
                    width: 100%;
                    font-style: italic;
                }
            }
            input[type=submit] {
                width: 20%;
                margin: 35px auto 100px;
                background: $c1;
                color: #fff;
                font-style: normal;
                text-transform: uppercase;
                border: 2px solid $c1;
                transition: .3s;
                cursor: pointer;
                &:hover {
                    background: #ffffff;
                    color: $c1;
                }
            }
        }
    }
}

#tuyendung3 {
    border-top: 1px solid $c2;
    padding: 45px 0 70px;
    @media all and (max-width: 1366px) {
        padding: 35px 0 40px;
    }
    h1 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
        @media all and (max-width: 1366px) {
            font-size: 30px;
            margin-bottom: 35px;
        }
        @media all and (max-width: 1024px) {
            font-size: 20px;
        }
    }
    .nav-tabs {
        border: 0;
        width: 100%;
        justify-content: space-between;
        li {
            font-size: 20px;
            color: #b9b9b9;
            height: 80px;
            @media all and (max-width: 1366px) {
                font-size: 22px;
                height: 50px;
            }
            @media all and (max-width: 1024px) {
                font-size: 14px;
            }
            a {
                line-height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 100%;
                @media all and (max-width: 1024px) {
                    line-height: 16px;
                }
                &.active {
                    background: $c1;
                    color: #fff;
                }
            }
        }
    }
    .tab-pane {
        margin-top: 50px;
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: justify;
            flex-wrap: wrap;
        }
        .col-lg-6 {
            margin-bottom: 50px;
        }
    }
}

.tuyendung {
    #baner {
        
    }
}
#tuyendung4 {
    > h1 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        background: $c1;
        color: #fff;
        padding: 30px 0;
        @media all and (max-width: 1366px) {
            font-size: 25px;
            padding: 10px 0;
        }
    }
    .container-fluid {
        // background: url(images/quytrinh.jpg) center center /cover no-repeat;
        // padding: 50px 0;
        // img {
        //     display: block;
        //     margin: 0 auto;
        //     @media all and (max-width: 1366px) {
        //         max-width: 65%;
        //     }
        // }
        
    }
    .container {
        h1 {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            margin: 30px 0 40px;
            @media all and (max-width: 1366px) {
                font-size: 25px;
                margin: 20px 0 20px;
            }
        }
        p {
            text-align: center;
            margin-bottom: 50px;
            @media all and (max-width: 1366px) {
                margin-bottom: 50px;
            }
        }
    }
    margin-bottom: 50px;
    .td {
        position: relative;
        .slick-arrow {
            color: #eb202c;
            position: absolute;
            bottom: 12px;
            &[name=ios-arrow-back] {
                left: 40%;
            }
            &[name=ios-arrow-forward] {
                right: 40%;
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            @media all and (max-width: 1024px) {
                display: none !important;
            }
            li {
                background: #a3a3a3;
                border: 0;
                &.slick-active {
                    background: #eb202c;
                }
            }
        }
    }
}