::-webkit-scrollbar {display:none;}
* {
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    height: 1000vh;
    background: #000;
}
#imgWrapper {
    height: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    z-index: 0;
}
#imgWrapper img {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
}