/* Overlay style */
.overlay1,
.overlay2 {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
    z-index: 200;
}

/* Overlay closing cross */
.overlay1 .overlay-close,
.overlay2 .overlay-close {
    cursor: pointer;
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 201;
}

/* Effects */
.overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}
.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}
.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}
.overlay-door.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.overlay-door.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}


