<!DOCTYPE html>
html(lang="en")
    include header.pug
    body
        .wrap
            include nav.pug

            section#trang-chu
                .container
                    .row
                        .col-lg-12
                            .banner-slider
                                .item
                                    .info
                                        h2 Sofa gỗ sồi
                                        p Lorem Ipsum has been the industry's standard
                                            |dummy text ever since the 1500s,
                                            |Twhen an unknown printer took a galley of type
                                        a(href="") Shop now
                                    img(src="images/banner.jpg", alt="")
                                .item
                                    .info
                                        h2 Sofa gỗ sồi
                                        p Lorem Ipsum has been the industry's standard
                                            |dummy text ever since the 1500s,
                                            |Twhen an unknown printer took a galley of type
                                        a(href="") Shop now
                                    img(src="images/banner.jpg", alt="")
                                .item
                                    .info
                                        h2 Sofa gỗ sồi
                                        p Lorem Ipsum has been the industry's standard
                                            |dummy text ever since the 1500s,
                                            |Twhen an unknown printer took a galley of type
                                        a(href="") Shop now
                                    img(src="images/banner.jpg", alt="")




            section#gioi-thieu
                .container
                    .row
                        .col-lg-4
                            img(src="images/hotro.png", alt="")
                            h4 Hỗ trợ khách hàng
                            p Chúng tôi sẵn sàng hỗ trợ tư vấn sản phẩm
                                | cũng như dịch vụ tốt nhất dành cho bạn
                        .col-lg-4
                            img(src="images/chinhsach.png", alt="")
                            h4 Chính sách
                            p Cửa hàng sẽ cung cấp những chính sách,
                                | quyền lợi, hữu ích nhất cho bạn
                        .col-lg-4
                            img(src="images/khuyenmai.png", alt="")
                            h4 Khuyến mãi
                            p Khuyến mãi tới những khách hàng lâu năm,
                                | những món quá nhân dịp ngày lễ

            section#gioi-thieu-2(style="background:url(images/paralax.jpg) center center / cover fixed no-repeat")
                h1 ĐỒ GỖ MỘC VIỆT
                .container
                    .row
                        .col-lg-12.description
                            p Với bề dày gần 20 năm kinh nghiệm thiết kế nội thất toàn bộ là gỗ tự nhiên.
                                |20 năm với nhiều công trình lớn nhỏ gần, xa như biệt thự Linh Đàm, Vinhome, Làng Việt kiều Châu Âu, Time City, Ecopark....
                                |Chúng tôi luôn đúc kết , tìm hiểu để nâng cao tay nghề công nhân, cũng như nâng cấp máy móc hiện đại để có thể đáp ứng mọi yêu cầu khó nhất của moi công trình.
                                |Với mong muốn đem lại lòng tin và sự hài lòng cho khách hàng từ giá cả và đến chất lượng.
                            a(href="") READ MORE



            section#san-pham
                .container
                    .row
                        .col-lg-12
                            .san-pham-moi
                                .san-pham-moi__heading
                                    h3 SẢN PHẨM MỚI
                                    .san-pham-moi__nav
                                        span.spm.prev &lt;
                                        span.spm.next &gt;
                                .san-pham-moi-slide_1
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                        a(href="")
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!

                .container-fluid
                    .row
                        .col-lg-8.pad-0
                            .feature-product(style="background:url(images/ketivi.jpg) center center / cover no-repeat")
                                h2 Kệ ti vi óc chó
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga culpa eum deleniti corrupti vitae officiis, quod exercitationem veniam nemo voluptatum similique aspernatur eligendi pariatur distinctio ipsum. Ratione minima repellendus itaque.

                        .col-lg-4.pad-0
                            .san-pham-moi__nav
                                span.spm2.prev &lt;
                                span.spm2.next &gt;
                            .san-pham-moi-slide_2
                                .item
                                    img(src="images/kedanang.jpg", alt="")
                                    h2 Kệ đa năng 
                                        span 660.000VND
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, accusantium est. Sunt perferendis fugiat laudantium.
                                .item
                                    img(src="images/kedanang.jpg", alt="")
                                    h2 Kệ đa năng
                                        span 660.000VND
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, accusantium est. Sunt perferendis fugiat laudantium.
                                .item
                                    img(src="images/kedanang.jpg", alt="")
                                    h2 Kệ đa năng
                                        span 660.000VND
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, accusantium est. Sunt perferendis fugiat laudantium.
                    .row.danh-muc
                        .col-lg-4.pad-0.danh-muc-item
                            img(src="images/11.png", alt="")
                            h2 SOFA
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit voluptatum dolore laudantium unde maiores quo.
                        .col-lg-4.pad-0.danh-muc-item
                            img(src="images/12.png", alt="")
                            h2 SOFA
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit voluptatum dolore laudantium unde maiores quo.
                        .col-lg-4.pad-0.danh-muc-item
                            img(src="images/13.png", alt="")
                            h2 SOFA
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit voluptatum dolore laudantium unde maiores quo.
                        .col-lg-4.pad-0.danh-muc-item
                            img(src="images/13.png", alt="")
                            h2 SOFA
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit voluptatum dolore laudantium unde maiores quo.
                        .col-lg-4.pad-0.danh-muc-item
                            img(src="images/12.png", alt="")
                            h2 SOFA
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit voluptatum dolore laudantium unde maiores quo.
                        .col-lg-4.pad-0.danh-muc-item
                            img(src="images/11.png", alt="")
                            h2 SOFA
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit voluptatum dolore laudantium unde maiores quo.

                .container
                    .row
                        .col-lg-12
                            .san-pham-moi
                                .san-pham-moi__heading
                                    h3 BÁN CHẠY NHẤT
                                    .san-pham-moi__nav
                                        span.spm.prev &lt;
                                        span.spm.next &gt;
                                .san-pham-moi-slide_1
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                    .item
                                        img(src="images/608.jpg", alt="")
                                        h2 Kệ đa năng
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!

            section#video
                //- img(src="", alt="")
                //- iframe(src="https://www.youtube.com/embed/tgbNymZ7vqY", frameborder="0")
                video(src="mocviet.mp4", muted, autoplay, loop)


            section#instagram
                .container
                    h3 INSTAGRAM
                    .row#instafeed



            section#feedback
                .container
                    h3 FEEDBACK
                    .row
                        .col-md-12
                            .san-pham-moi-slide_1
                                .item
                                    img(src="images/608.jpg", alt="")
                                    h2 Chị Lan - Hà Nội
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                .item
                                    img(src="images/608.jpg", alt="")
                                    h2 Chị Lan - Hà Nội
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                .item
                                    img(src="images/608.jpg", alt="")
                                    h2 Chị Lan - Hà Nội
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                .item
                                    img(src="images/608.jpg", alt="")
                                    h2 Chị Lan - Hà Nội
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                .item
                                    img(src="images/608.jpg", alt="")
                                    h2 Chị Lan - Hà Nội
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                                .item
                                    img(src="images/608.jpg", alt="")
                                    h2 Chị Lan - Hà Nội
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo inventore non tempora voluptates nihil quasi odit laboriosam temporibus nisi animi!
                            .feedback__nav
                                span.spm.prev &lt;
                                span.spm.next &gt;

            section#tin-tuc
                .container-fluid.pad-0
                    h3 BLOG
                    .row
                        .col-md-4
                            img(src="images/608.jpg", alt="")
                            h2 Sofa gỗ sồi Nga 
                                |có những đặc điểm nổi bật nào?
                        .col-md-4
                            img(src="images/608.jpg", alt="")
                            h2 Sofa gỗ sồi Nga 
                                |có những đặc điểm nổi bật nào?
                        .col-md-4
                            img(src="images/608.jpg", alt="")
                            h2 Sofa gỗ sồi Nga 
                                |có những đặc điểm nổi bật nào?


            footer
                .container
                    a.logo(href="")
                        img(src="images/logo.png", alt="")
                    ul
                        li
                            img(src="images/pin.png", alt="")
                            span Số 505, Minh Khai, Hà Nội
                        li
                            img(src="images/phone.png", alt="")
                            span 0938.91.38.63
                            a(href="tel:+84938913863")
                        li
                            img(src="images/mail.png", alt="")
                            span mocviet82@gmail.com
                            a(href="mailto:mocviet82@gmail.com")
                        li
                            img(src="images/fb.png", alt="")
                            span facebook.com/gomocviet
                            a(href="https://facebook.com/gomocviet")
                        li
                            img(src="images/insta.png", alt="")
                            span @dogomocviet
                            a(href="https://instagram.com/dogomocviet")


        include js.pug