header
    .container
        .row
            .col-md-12
                a.logo(href="")
                    img(src="images/logo-sm.png", alt="")
                nav.d-nav
                    ul.nav-top
                        li
                            | Số 505, Minh Khai, Hà Nội
                            img(src="images/pin.png", alt="")
                        li
                            a(href="tel:0938913863") 0938.91.38.63
                            img(src="images/phone.png", alt="")
                    ul.nav-main
                        li
                            a(href="#trang-chu") Trang chủ
                        li
                            a(href="#gioi-thieu") Giới thiệu
                        li
                            a(href="#san-pham") Sản phẩm
                        li
                            a(href="#tin-tuc") Tin tức
                        li
                            a(href="#blog") Blog