section#banner
    .banner-slider
        .item
            img(src="images/banner1.jpg", alt="")
            .content
                .col-lg-8
                    h1 ĐẠI PHÚ AN
                    h4 HEALTHCARE AND RESORTS
                    p Tọa lạc tại Thị trấn Mậu A, huyện Văn Yên, tỉnh Yên Bái, cách Hà Nội 2.5 tiếng theo đường cao tốc Nội Bài – Lào Cai, Dai Phu An Healthcare and Resorts tạo ra không gian nghỉ dưỡng cao cấp dựa trên nền tảng y học cổ truyền nhằm chăm sóc sức khoẻ, cân bằng và tái tạo năng lượng sống cho quý khách hàng.
                    p
                        |Trong khuôn viên 7 hectar, Dai Phu An healthcare and Resorts 
                    a(href="")
                        span
                        i Xem video
        .item
            img(src="images/banner1.jpg", alt="")
            .content
                .col-lg-8
                    h1 ĐẠI PHÚ AN
                    h4 HEALTHCARE AND RESORTS
                    p Tọa lạc tại Thị trấn Mậu A, huyện Văn Yên, tỉnh Yên Bái, cách Hà Nội 2.5 tiếng theo đường cao tốc Nội Bài – Lào Cai, Dai Phu An Healthcare and Resorts tạo ra không gian nghỉ dưỡng cao cấp dựa trên nền tảng y học cổ truyền nhằm chăm sóc sức khoẻ, cân bằng và tái tạo năng lượng sống cho quý khách hàng.
                    p
                        |Trong khuôn viên 7 hectar, Dai Phu An healthcare and Resorts 
                    a(href="")
                        span
                        i Xem video
        .item
            img(src="images/banner1.jpg", alt="")
            .content
                .col-lg-8
                    h1 ĐẠI PHÚ AN
                    h4 HEALTHCARE AND RESORTS
                    p Tọa lạc tại Thị trấn Mậu A, huyện Văn Yên, tỉnh Yên Bái, cách Hà Nội 2.5 tiếng theo đường cao tốc Nội Bài – Lào Cai, Dai Phu An Healthcare and Resorts tạo ra không gian nghỉ dưỡng cao cấp dựa trên nền tảng y học cổ truyền nhằm chăm sóc sức khoẻ, cân bằng và tái tạo năng lượng sống cho quý khách hàng.
                    p
                        |Trong khuôn viên 7 hectar, Dai Phu An healthcare and Resorts 
                    a(href="")
                        span
                        i Xem video