section#booking
    .container-fluid
        .row
            .col-item
                h2 BOOK PHÒNG TRỰC TIẾP
                .s-line
                    h3 Họ và tên:
                    input#name(type="text")
            .col-item
                .s-line
                    h3 Số điện thoại:
                    input#phone(type="text")
                .s-line
                    h3 Email:
                    input#email(type="text")
            .col-item.date
                .s-line
                    h3 Check in:
                    input#in(type="text", placeholder="mm/dd/yy")
                .s-line
                    h3 Check out:
                    input#out(type="text", placeholder="mm/dd/yy")
            .col-item
                .s-line
                    h3 Người lớn:
                    .num
                        span.dec -
                        input#udult.numval(type="text", value="0", disabled)
                        span.inc +
                .s-line
                    h3 Trẻ em:
                    .num
                        span.dec -
                        input#kid.numval(type="text", value="0", disabled)
                        span.inc +
            .col-item.item-center
                .s-line
                    h3 Loại phòng
                    select#room
                        option(value="villa") Lakeview Villa
                        option(value="healthcare") Healthcare Room
                        option(value="standard") Standard Room
            .col-item.item-center
                a.book-btn(href="") ĐẶT NGAY