footer
    .container
        .row
            .col-lg-6
                h2 CÔNG TY TNHH NAM DƯỢC ĐẠI PHÚ AN
                p
                    span Địa chỉ:
                    | Khe Cỏ, An Thịnh, Văn Yên, Yên Bái
                p
                    span Điện thoại:
                    | (0216) 3830 383         

                h3 LIÊN HỆ
                
                p
                    span Tư vấn 1:
                    | 0844 376 568
                p
                    span Tư vấn 2:
                    | 0975 997 949
                p.m
                    span Email:
                    | info@daiphuan.vn
                
                h3 ĐĂNG KÝ NHẬN BẢN TIN
                .s-line
                    input(type="text")
                    input(type="submit", value="ĐĂNG KÝ")

            .col-lg-6