<!DOCTYPE html>
html(lang="en")
    include header.pug
    body
        .wrap
            include nav.pug

            include banner.pug

            include booking.pug

            section.home-content
                .container-fluid
                    .row
                        .col-lg-6
                            img(src="images/watermark.jpg", alt="")
                            .content
                                h2 Lakeview villa
                                p Được thiết kế theo kiến trúc hiện đại, pha lẫn nét cổ điển truyền thống,
                                    | với tầng 2 theo lỗi kiến trúc phòng gác mái để mỗi sáng tỉnh giấc quý khách có thể phóng tầm nhìn ra hồ nước tươi mát, mắt ngắm trọn không trong lành và ánh nắng ban mai dịu dàng
                                    | trong gió.
                                

                        .col-lg-6.pad-0
                            .img-slider
                                .item
                                    img(src="images/h1.jpg", alt="")
                                .item
                                    img(src="images/h2.jpg", alt="")
                                .item
                                    img(src="images/h3.jpg", alt="")
            
            section.home-content
                .container-fluid
                    .row
                        .col-lg-6
                            img(src="images/watermark.jpg", alt="")
                            .content
                                h2 Healthcare room
                                p Nằm trọng trong đảo nổi giữa lòng hồ, dù không hiện đại và tiện nghi như Lakeview villa, nhưng Healthcare room đem đến cho quý khách hàng cảm giác đặc biệt khi bao bọc xung quanh đảo là hồ nước mát, đem đến cảm giác riêng biệt và yên tĩnh. Đồng thời, với vai trò là bệnh xá của toàn khu, sống trong healthcare room, quý khách sẽ được sử dụng các dịch vụ
                                    | chăm sóc sức khoẻ chuyên sâu trên nền tảng y học cổ truyền hàng trăm năm của dòng họ đỗ.
                                

                        .col-lg-6.pad-0
                            .img-slider
                                .item
                                    img(src="images/h1.jpg", alt="")
                                .item
                                    img(src="images/h2.jpg", alt="")
                                .item
                                    img(src="images/h3.jpg", alt="")
            
            section.home-content
                .container-fluid
                    .row
                        .col-lg-6
                            img(src="images/watermark.jpg", alt="")
                            .content
                                h2 Standard room
                                p Đây là hạng phòng cơ bản, thuộc cơ sở một: Thạch Lâm Viên Đai Phú An, cách Dai Phu An Healthcare and Resorts khoảng 6km về phía vườn thuốc nam và trang trại hữu cơ, Standard Room sẽ đem đến cho quý khách không gian sống hoàn toàn yên tĩnh và khép kín, đảm bảo
                                    | những tiện nghi cơ bản với chi phí hợp lý nhất. Thích hợp với người bệnh cần nghỉ dưỡng lưu trú trong thời gian dài.
                                

                        .col-lg-6.pad-0
                            .img-slider
                                .item
                                    img(src="images/h1.jpg", alt="")
                                .item
                                    img(src="images/h2.jpg", alt="")
                                .item
                                    img(src="images/h3.jpg", alt="")
            
            section.home-content
                .container-fluid
                    .row
                        .col-lg-6
                            img(src="images/watermark.jpg", alt="")
                            .content
                                h2 Standard room
                                p Đây là hạng phòng cơ bản, thuộc cơ sở một: Thạch Lâm Viên Đai Phú An, cách Dai Phu An Healthcare and Resorts khoảng 6km về phía vườn thuốc nam và trang trại hữu cơ, Standard Room sẽ đem đến cho quý khách không gian sống hoàn toàn yên tĩnh và khép kín, đảm bảo
                                    | những tiện nghi cơ bản với chi phí hợp lý nhất. Thích hợp với người bệnh cần nghỉ dưỡng lưu trú trong thời gian dài.
                                

                        .col-lg-6.pad-0
                            .img-slider
                                .item
                                    img(src="images/h1.jpg", alt="")
                                .item
                                    img(src="images/h2.jpg", alt="")
                                .item
                                    img(src="images/h3.jpg", alt="")

            include footer.pug
                



        include js.pug
        script.
            //- new WOW().init();
            $('.d-nav').hc_menu({
                open: '.open-mnav',
            });
            $('#room').selectmenu();
            $("#in").datepicker({minDate: new Date()});
            $("#out").datepicker({minDate: new Date()});


