header
    nav.top-nav
        ul.container.pad-0
            li
                a(href="")
                    span.fa.fa-phone-square
                    span 0844.376.568
            li
                a(href="")
                    span.fa.fa-phone-square
                    span 0975.997.949
            li
                a(href="")
                    span.fa.fa-envelope-square
                    span info@daiphuan.vn
            li
                a(href="")
                    span.fa.fa-facebook-square
            li
                a(href="")
                    span.fa.fa-linkedin-square
            li
                a(href="")
                    span.fa.fa-rss-square

    nav.d-nav
        a.logo(href="") LOGO
        ul.main-nav.container.pad-0
            li.active
                a(href="index.html") Trang chủ
            li
                a(href="luutru.html") Lưu trú
            li
                a(href="đieuuong.html") Điều dưỡng
            li
                a(href="hesinhthai.html") Hệ sinh thái
            li
                a(href="tienich.html") Tiện ích
            li
                a(href="tourdulich.html") Tour du lịch
            li
                a(href="tintuc.html") Tin tức
            li
                a(href="index.html")
                    span.fa.fa-search
        ul.lang
            li.active
                a(href="") VI
            li
                a(href="") EN
    a.open-mnav
        span
        span
        span