@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-LightItalic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
}

$font-family-base: 'Roboto', sans-serif;
$font-family-base2: 'Lato', sans-serif;
// ..........
$fr: $font-family-base;
$fl: $font-family-base2;

$f3: 'Arial';