@import "vars/base";
@import "vars/font";
@import "vars/animation";
@import "layouts/general";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/home";
@import "layouts/sell";
@import "layouts/testimonial";
@import "layouts/pages";
@import "layouts/blog";
@import "layouts/suburb";