body{
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background: #F1F1F1;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
 -}

.container {
  width: 100%;	
  height: 100%;
  background: url("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/10151385_280118985495419_841910805137531874_n.jpg");
  font-size: 65px;
  color: #AA00FF;
  padding-top:5%;
  position: relative;
  text-align: center;
}


/* Media Queries */
@media screen and (max-width: 1010px){
	.container{
		padding-top:4%;
	}
}
@media screen and (max-width: 767px) {
	.container{
		padding-top:3%;
	}
	img {
		margin-top: 20%;
	}
}
@media screen and (max-width: 400px) {
	.container{
		padding-top:2%;
	}
	img {
		width: 70%;
		height: 70%;
		margin-top: 40%;
	}
}
