body{
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background: #F1F1F1;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.container {
  width: 100%;	
  height: 100%;
  background: #F1F1F1;
  font-size: 65px;
  color: #AA00FF;
  padding-top:5%;
  position: relative;
  text-align: center;
}

img {
  display: table;
  vertical-align:middle;
}


/* Media Queries */
@media screen and (max-width: 1010px){
	.container{
		padding-top:4%;
	}
}
@media screen and (max-width: 767px) {
	.container{
		padding-top:3%;
	}
	img {
	
	}
}
@media screen and (max-width: 400px) {
	.container{
		padding-top:2%;
	}
	img {
		width: 70%;
		height: 70%;
	
	}
}
