.container {
  width: 100%;	
  height: 100%;
  background: #F1F1F1;
  font-size: 65px;
  color: #AA00FF;
  padding-top:5%;
}
/* Media Queries */
@media screen and (max-width: 1010px){
	.container{
		padding-top:4%;
	}
}
@media screen and (max-width: 767px) {
	.container{
		padding-top:3%;
	}
}
@media screen and (max-width: 400px) {
	.container{
		padding-top:2%;
	}
}
