<!DOCTYPE html>
html(lang="en")
    include header.pug
    body.team-template-layout
        .wrap
            include nav.pug

            section#customer-testimonial
                .container
                    h4 ABOUT US
                    h2 Testimonials
                    .item
                        .row
                            .col-lg-10
                                .text
                                    p Dear Chris and the Ray White Oakleigh team,
                                    br
                                    p Thanks for your efforts and the excellent result achieved in marketing and selling our Hughesdale property. We chose you ahead of others because your advice was honest, direct and credible. Above all you delivered what you said you would.
                                    br
                                    p Thanks again.  
                                    br
                                    p Yours Sincerely 
                                        b Alan Preacher
                            .col-lg-2
                                img(src="images/ct.jpg", alt="")
                    .item
                        .row
                            .col-lg-10
                                .text
                                    p Dear Chris and the Ray White Oakleigh team,
                                    br
                                    p Thanks for your efforts and the excellent result achieved in marketing and selling our Hughesdale property. We chose you ahead of others because your advice was honest, direct and credible. Above all you delivered what you said you would.
                                    br
                                    p Thanks again.  
                                    br
                                    p Yours Sincerely 
                                        b Alan Preacher
                            .col-lg-2
                                img(src="images/ct.jpg", alt="")
                    .item
                        .row
                            .col-lg-10
                                .text
                                    p Dear Chris and the Ray White Oakleigh team,
                                    br
                                    p Thanks for your efforts and the excellent result achieved in marketing and selling our Hughesdale property. We chose you ahead of others because your advice was honest, direct and credible. Above all you delivered what you said you would.
                                    br
                                    p Thanks again.  
                                    br
                                    p Yours Sincerely 
                                        b Alan Preacher
                            .col-lg-2
                                img(src="images/ct.jpg", alt="")    

            footer
                .container
                    h4 The Agency | 331 Foothill Road, Suite 100, Beverly Hills, CA 90210 | 424.230.3700 | Info@TheAgencyRE.com | CA DRE# 01904054
                    .row
                        .col-1
                            h4.title REAL ESTATE
                            h5: a(href="") Buy
                            h5: a(href="") Rent
                        .col-2
                            h4.title ABOUT THE AGENCY
                            h5: a(href="") Meet The Agents
                            h5: a(href="") Development Group
                            h5: a(href="") The Agency Creates
                        .col-3
                            h4.title Connect
                            h5: a(href="") Read The Agency Daily
                            h5: a(href="") Register An Acount
                            h5: a(href="") Contact
                        .col-4
                            h1 Receive Our Newsletter
                            .s-line
                                input(type="email", placeholder="EMAIL ADDRESS")
                                button(type="submit")
                                    span.fa.fa-chevron-right
                            .social
                                a(href="")
                                    span.fa.fa-facebook-f
                                a(href="")
                                    span.fa.fa-twitter
                                a(href="")
                                    span.fa.fa-pinterest-p 
                                a(href="")
                                    span.fa.fa-youtube 
                                a(href="")
                                    span.fa.fa-instagram 



        include js.pug
        <script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
        <script src="https://fast.wistia.com/labs/crop-fill/plugin.js"></script>
        script(src="js/slick.min.js")