<!DOCTYPE html>
html(lang="en")
    include header.pug
    body
        .wrap
            include nav.pug

            section#banner
                .content.col-lg-5
                    h2 Your move.
                    h3
                        span BUY
                        span RENT
                    .s-line
                        input(type="text" placeholder="City, Address, Zip")
                        button(type="submit")
                            span.fa.fa-search(aria-hidden="true")
                    h4 YOU ARE SEARCHING IN 
                        b USTRALIA
                .feature-detail
                    h5
                        span 1677 N. DOHENY DRIVE
                        span LOS ANGELES, CA
                        span 90069
                    h4 
                        span 5 BEDROOMS
                        span 8 BATHROOMS
                        span 11,780 SQFT
                <div id="video_container">
                    <div id="cover_all"></div>
                    <div id="main-image"></div>
                    <div id="wistia_uiy7rqxku2" class="wistia_embed backgroundVideo" style="width:920px;height:518px;"></div>
                    <div id="wistia_uiy7rqxku2" class="wistia_embed overlayVideo" style="width:1920px;height:1080px;"></div>
                </div>
            
            section#feature-list
                h2 Featured Properties
                //- .house-list
                //-     .item
                //-         a(href="")
                //-             img(src="images/l1.jpg", alt="")
                //-         .detail
                //-             h5
                //-                 span 1677 N. DOHENY DRIVE
                //-                 span LOS ANGELES, CA
                //-                 span 90069
                //-             h4 
                //-                 span 5 BEDROOMS
                //-                 span 8 BATHROOMS
                //-                 span 11,780 SQFT
                //-     .item
                //-         a(href="")
                //-             img(src="images/l2.jpg", alt="")
                //-         .detail
                //-             h5
                //-                 span 1677 N. DOHENY DRIVE
                //-                 span LOS ANGELES, CA
                //-                 span 90069
                //-             h4 
                //-                 span 5 BEDROOMS
                //-                 span 8 BATHROOMS
                //-                 span 11,780 SQFT
                //-     .item
                //-         a(href="")
                //-             img(src="images/l3.jpg", alt="")
                //-         .detail
                //-             h5
                //-                 span 1677 N. DOHENY DRIVE
                //-                 span LOS ANGELES, CA
                //-                 span 90069
                //-             h4 
                //-                 span 5 BEDROOMS
                //-                 span 8 BATHROOMS
                //-                 span 11,780 SQFT
                //-             a(href="")
                .house-feature
                    .container-fluid
                        .row
                            .col-lg-8
                                .item
                                    img(src="images/l1.jpg", alt="")
                                    .detail
                                        .address
                                            span 1677 N. DOHENY DRIVE
                                            span LOS ANGELES, CA
                                            span 90069
                                        .interior
                                            .di
                                                span.num 6
                                                span.fa.fa-bed
                                            .di
                                                span.num 6
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 6
                                                span.fa.fa-car
                                    a(href="")
                            .col-lg-4
                                .row
                                    .col-12
                                        .item
                                            img(src="images/l1.jpg", alt="")
                                            .detail
                                                .address
                                                    span 1677 N. DOHENY DRIVE
                                                    span LOS ANGELES, CA
                                                    span 90069
                                                .interior
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bed
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bathtub
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-car
                                            a(href="")
                                    .col-12.bot
                                        .item
                                            img(src="images/l1.jpg", alt="")
                                            .detail
                                                .address
                                                    span 1677 N. DOHENY DRIVE
                                                    span LOS ANGELES, CA
                                                    span 90069
                                                .interior
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bed
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bathtub
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-car
                                            a(href="")
                        .more-prop
                            a(href="") More Available Properties
            section#grid
                .container-fluid
                    .row
                        .col-lg-4
                            a(href="", style="background:url(images/gr.jpg) center center no-repeat")
                                .bg
                                .content
                                    p view
                                    h1 our listings 
                        .col-lg-4
                            a(href="", style="background:url(images/gr.jpg) center center no-repeat")
                                .bg
                                .content
                                    p view
                                    h1 our listings 
                        .col-lg-4
                            a(href="", style="background:url(images/gr.jpg) center center no-repeat")
                                .bg
                                .content
                                    p view
                                    h1 our listings 
                        .col-lg-4
                            a(href="", style="background:url(images/gr.jpg) center center no-repeat")
                                .bg
                                .content
                                    p view
                                    h1 our listings 
                        .col-lg-4
                            a(href="", style="background:url(images/gr.jpg) center center no-repeat")
                                .bg
                                .content
                                    p view
                                    h1 our listings 
                        .col-lg-4
                            a(href="", style="background:url(images/gr.jpg) center center no-repeat")
                                .bg
                                .content
                                    p view
                                    h1 our listings 

            section#feature-agents
                h2 Featured Agents
                .container
                    .agent-list
                        .item.row
                            .col-lg-4
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                            .col-lg-4
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                            .col-lg-4
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                        .item.row
                            .col-lg-4
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                            .col-lg-4
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                            .col-lg-4
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")

            section#latest-news
                h2 Latest Lifestyle News
                .container-fluid
                    .row
                        .col-lg-6.item
                            .content
                                img(src="images/news.jpg", alt="")
                                .detail
                                    p.date Tuesday, 20th March 2019
                                    h2.title Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing el
                                    p.short-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                    a.rm(href="") read more
                                        span.fa.fa-arrow-right
                                a.link(href="")
                        .col-lg-6
                            .row
                                .col-lg-6.item.s-item
                                    .content
                                        img(src="images/news.jpg", alt="")
                                        .detail
                                            p.date Tuesday, 20th March 2019
                                            h2.title Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing el
                                            p.short-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                            a.rm(href="") read more
                                                span.fa.fa-arrow-right
                                        a.link(href="")
                                .col-lg-6.item.s-item
                                    .content
                                        img(src="images/news.jpg", alt="")
                                        .detail
                                            p.date Tuesday, 20th March 2019
                                            h2.title Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing el
                                            p.short-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                            a.rm(href="") read more
                                                span.fa.fa-arrow-right
                                        a.link(href="")
                                .col-lg-6.item.s-item
                                    .content
                                        img(src="images/news.jpg", alt="")
                                        .detail
                                            p.date Tuesday, 20th March 2019
                                            h2.title Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing el
                                            p.short-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                            a.rm(href="") read more
                                                span.fa.fa-arrow-right
                                        a.link(href="")
                                .col-lg-6.item.s-item
                                    .content
                                        img(src="images/news.jpg", alt="")
                                        .detail
                                            p.date Tuesday, 20th March 2019
                                            h2.title Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing el
                                            p.short-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit adipisci consectetur impedit atque esse numquam, aliquid accusantium officia, temporibus, veritatis blanditiis fugiat sunt voluptatem nesciunt inventore. Temporibus magnam nobis voluptatum!
                                            a.rm(href="") read more
                                                span.fa.fa-arrow-right
                                        a.link(href="")
                    a.view-all(href="") View all
                        span.fa.fa-arrow-right

            footer
                .container
                    h4 The Agency | 331 Foothill Road, Suite 100, Beverly Hills, CA 90210 | 424.230.3700 | Info@TheAgencyRE.com | CA DRE# 01904054
                    .row
                        .col-1
                            h4.title REAL ESTATE
                            h5: a(href="") Buy
                            h5: a(href="") Rent
                        .col-2
                            h4.title ABOUT THE AGENCY
                            h5: a(href="") Meet The Agents
                            h5: a(href="") Development Group
                            h5: a(href="") The Agency Creates
                        .col-3
                            h4.title Connect
                            h5: a(href="") Read The Agency Daily
                            h5: a(href="") Register An Acount
                            h5: a(href="") Contact
                        .col-4
                            h1 Receive Our Newsletter
                            .s-line
                                input(type="email", placeholder="EMAIL ADDRESS")
                                button(type="submit")
                                    span.fa.fa-chevron-right
                            .social
                                a(href="")
                                    span.fa.fa-facebook-f
                                a(href="")
                                    span.fa.fa-twitter
                                a(href="")
                                    span.fa.fa-pinterest-p 
                                a(href="")
                                    span.fa.fa-youtube 
                                a(href="")
                                    span.fa.fa-instagram 



        include js.pug
        <script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
        <script src="https://fast.wistia.com/labs/crop-fill/plugin.js"></script>
        script(src="js/slick.min.js")
        script.
            var fullScreenVideo = fullScreenVideo || {};

            fullScreenVideo = {
                name: 'fullScreenVideo',
                overlayVideo: 'uiy7rqxku2',
                overlayVideoDiv: '#wistia_uiy7rqxku2',
                backgroundvideo: 'uiy7rqxku2',
                backgroundideoDiv: '#wistia_uiy7rqxku2',
                
                embedVideo: function()
                {
                var videoOptions = {};
            
                // Add the crop fill plugin to the videoOptions
                Wistia.obj.merge(videoOptions, {
                    plugin: {
                    cropFill: {
                        src: "//fast.wistia.com/labs/crop-fill/plugin.js"
                    }
                    }
                });

                // Video in the background
                wistiaEmbed = Wistia.embed(fullScreenVideo.backgroundvideo, videoOptions);
                // Video to be shown in the overlay
                overlayEmbed = Wistia.embed(fullScreenVideo.overlayVideo, videoOptions);

                wistiaEmbed.bind("play", function(){
                    wistiaEmbed.pause();
                    wistiaEmbed.time(0);
                    $(fullScreenVideo.backgroundideoDiv).css('visibility', 'visible');
                    wistiaEmbed.play();
                    return this.unbind;
                });
                },
                /**
                * Plays the video set as overlayEmbed
                * @param None
                */
                playVideo: function()
                {
                $(fullScreenVideo.overlayVideoDiv).css("left", 0).css("visibility", "visible");
                overlayEmbed.plugin.cropFill.resize();
                overlayEmbed.play();
                },
                /**
                * Hide the overlay video and pause it. Also reshow 
                * the text on the page.
                * @param None
                */
                exitVideo: function()
                {
                $(fullScreenVideo.overlayVideoDiv).css("left", -3000).css("visibility", "hidden");
                overlayEmbed.pause();
                overlayEmbed._keyBindingsActive = false;
                },
                /**
                * Fix the size of the images and text on page
                * @param None
                */
                fixTextPosition: function()
                {
                var width = $( window ).width();
                var height = $( window ).height();
                $("#video_container").css("width", width).css("height", height);
                $("#main-image").css("width", width).css("height", height);
                }
            }

            /**
            * When the doc is ready, fix the video and images sizes
            * then display the text on the page.
            */
            $(document).ready(function() {
            fullScreenVideo.fixTextPosition();
            $("#text").delay(200).animate({ opacity: 1 }, 650);
            });

            // If the widow is resized, resize the videos
            $(window).resize(fullScreenVideo.fixTextPosition);

            // When the play button is clicked, call the play function
            $(".rectangle").click(fullScreenVideo.playVideo);

            // When the "X" is clicked, exit the video
            $("#ex").click(fullScreenVideo.exitVideo);

            // Start loading the video
            fullScreenVideo.embedVideo();

