<!DOCTYPE html>
html(lang="en")
    include header.pug
    body
        .wrap
            include nav.pug

            section#banner
            

            footer
                .container
                    h4 The Agency | 331 Foothill Road, Suite 100, Beverly Hills, CA 90210 | 424.230.3700 | Info@TheAgencyRE.com | CA DRE# 01904054
                    .row
                        .col-1
                            h4.title REAL ESTATE
                            h5: a(href="") Buy
                            h5: a(href="") Rent
                        .col-2
                            h4.title ABOUT THE AGENCY
                            h5: a(href="") Meet The Agents
                            h5: a(href="") Development Group
                            h5: a(href="") The Agency Creates
                        .col-3
                            h4.title Connect
                            h5: a(href="") Read The Agency Daily
                            h5: a(href="") Register An Acount
                            h5: a(href="") Contact
                        .col-4
                            h1 Receive Our Newsletter
                            .s-line
                                input(type="email", placeholder="EMAIL ADDRESS")
                                button(type="submit")
                                    span.fa.fa-chevron-right
                            .social
                                a(href="")
                                    span.fa.fa-facebook-f
                                a(href="")
                                    span.fa.fa-twitter
                                a(href="")
                                    span.fa.fa-pinterest-p 
                                a(href="")
                                    span.fa.fa-youtube 
                                a(href="")
                                    span.fa.fa-instagram 



        include js.pug
        <script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
        <script src="https://fast.wistia.com/labs/crop-fill/plugin.js"></script>
        script(src="js/slick.min.js")
        script.
            $("#prop-type").selectmenu();
            $("#min-price").selectmenu();
            $("#max-price").selectmenu();
            var fullScreenVideo = fullScreenVideo || {};

            fullScreenVideo = {
                name: 'fullScreenVideo',
                overlayVideo: 'uiy7rqxku2',
                overlayVideoDiv: '#wistia_uiy7rqxku2',
                backgroundvideo: 'uiy7rqxku2',
                backgroundideoDiv: '#wistia_uiy7rqxku2',
                
                embedVideo: function()
                {
                    var videoOptions = {};
                    // Add the crop fill plugin to the videoOptions
                    Wistia.obj.merge(videoOptions, {
                        plugin: {
                            cropFill: {
                                src: "//fast.wistia.com/labs/crop-fill/plugin.js"
                            }
                        }
                    });
                    // Video in the background
                    wistiaEmbed = Wistia.embed(fullScreenVideo.backgroundvideo, videoOptions);
                    // Video to be shown in the overlay
                    overlayEmbed = Wistia.embed(fullScreenVideo.overlayVideo, videoOptions);

                    wistiaEmbed.bind("play", function(){
                        wistiaEmbed.pause();
                        wistiaEmbed.time(0);
                        $(fullScreenVideo.backgroundideoDiv).css('visibility', 'visible');
                        wistiaEmbed.play();
                        return this.unbind;
                    });
                },
                /**
                * Plays the video set as overlayEmbed
                * @param None
                */
                playVideo: function()
                {
                    $(fullScreenVideo.overlayVideoDiv).css("left", 0).css("visibility", "visible");
                    overlayEmbed.plugin.cropFill.resize();
                    overlayEmbed.play();
                },
                /**
                * Hide the overlay video and pause it. Also reshow 
                * the text on the page.
                * @param None
                */
                exitVideo: function()
                {
                    $(fullScreenVideo.overlayVideoDiv).css("left", -3000).css("visibility", "hidden");
                    overlayEmbed.pause();
                    overlayEmbed._keyBindingsActive = false;
                },
                /**
                * Fix the size of the images and text on page
                * @param None
                */
                fixTextPosition: function()
                {
                    var width = $( window ).width();
                    var height = $( window ).height();
                    $("#video_container").css("width", width).css("height", height);
                }
            }

            /**
            * When the doc is ready, fix the video and images sizes
            * then display the text on the page.
            */
            $(document).ready(function() {
            fullScreenVideo.fixTextPosition();
                $("#text").delay(200).animate({ opacity: 1 }, 650);
            });
            // If the widow is resized, resize the videos
            $(window).resize(fullScreenVideo.fixTextPosition);
            // Start loading the video
            fullScreenVideo.embedVideo();

