div#map
script.
    var map;
    function initMap() {
        var options = {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        }
        map = new google.maps.Map(document.getElementById('map'), options);
    }
script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlXl5VyBim6ZP9QAvBx-Dfbi-AG3kQMmY&callback=initMap")