header
    nav.d-nav
        a.slogo(href="index.html"): img(src="images/srlogo.png", alt="")
        ul.top-left-menu
            li: a(href="buy.html") buy
            li: a(href="sell.html") sell
            li: a(href="team.html") company
            li: a(href="suburb-profile.html") suburb profile
        a.logo(href="index.html"): img(src="images/rlogo.png", alt="")
        ul.top-right-menu
            li
                a(href="news.html")
                    span.fa.fa-newspaper-o(aria-hidden="true") 
                    | news
            li: a(href="")
                    span.fa.fa-user(aria-hidden="true")
                    | login/register