header
    nav.d-nav
        a.slogo(href="index.html"): img(src="images/slogo.png", alt="")
        ul.top-left-menu
            li: a(href="buy.html") buy
            li: a(href="sell.html") sell
            li: a(href="services.html") services
            li: a(href="agents.html") agents
        a.logo(href="index.html"): img(src="images/logo.png", alt="")
        ul.top-right-menu
            li
                a(href="")
                    span.fa.fa-globe(aria-hidden="true") 
                    | city
                ul.city-list
                    li
                        a(href="") City 1
                    li
                        a(href="") City 2
                    li
                        a(href="") City 3
                    li
                        a(href="") City 4
            li: a(href="")
                    span.fa.fa-user(aria-hidden="true")
                    | login/register