<!DOCTYPE html>
html(lang="en")
    include header.pug
    body.inspection-template-layout
        .wrap
            include nav.pug

            section#hero(style="background: url(images/balls.jpg) center center/ cover no-repeat;")
                #map
                .form
                    h1 open for inspection
                    label
                        span.fa.fa-map-marker
                        input(type="text", placeholder="Suburb, area or office name")
                        button(type="submit") SEARCH

            section#suburb-search-res
                .container
                    h3 Search result
                    .row
                        .col-lg-6
                            .item
                                img(src="images/sbs.jpg", alt="")
                                p open saturday
                                .detail
                                    .col-left
                                        h4 4 Lehhong Close, Rowville
                                        .interior
                                            .di
                                                span.num 4
                                                span.fa.fa-bed
                                            .di
                                                span.num 4
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 4
                                                span.fa.fa-car
                                    .col-right
                                        p $900,000 - $950,000
                                a(href="")
                        .col-lg-6
                            .item
                                img(src="images/sbs.jpg", alt="")
                                p open saturday
                                .detail
                                    .col-left
                                        h4 4 Lehhong Close, Rowville
                                        .interior
                                            .di
                                                span.num 4
                                                span.fa.fa-bed
                                            .di
                                                span.num 4
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 4
                                                span.fa.fa-car
                                    .col-right
                                        p $900,000 - $950,000
                                a(href="")
                        .col-lg-6
                            .item
                                img(src="images/sbs.jpg", alt="")
                                p open saturday
                                .detail
                                    .col-left
                                        h4 4 Lehhong Close, Rowville
                                        .interior
                                            .di
                                                span.num 4
                                                span.fa.fa-bed
                                            .di
                                                span.num 4
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 4
                                                span.fa.fa-car
                                    .col-right
                                        p $900,000 - $950,000
                                a(href="")
                        .col-lg-6
                            .item
                                img(src="images/sbs.jpg", alt="")
                                p open saturday
                                .detail
                                    .col-left
                                        h4 4 Lehhong Close, Rowville
                                        .interior
                                            .di
                                                span.num 4
                                                span.fa.fa-bed
                                            .di
                                                span.num 4
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 4
                                                span.fa.fa-car
                                    .col-right
                                        p $900,000 - $950,000
                                a(href="")
                        .col-lg-6
                            .item
                                img(src="images/sbs.jpg", alt="")
                                p open saturday
                                .detail
                                    .col-left
                                        h4 4 Lehhong Close, Rowville
                                        .interior
                                            .di
                                                span.num 4
                                                span.fa.fa-bed
                                            .di
                                                span.num 4
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 4
                                                span.fa.fa-car
                                    .col-right
                                        p $900,000 - $950,000
                                a(href="")
                            



            footer
                .container
                    h4 The Agency | 331 Foothill Road, Suite 100, Beverly Hills, CA 90210 | 424.230.3700 | Info@TheAgencyRE.com | CA DRE# 01904054
                    .row
                        .col-1
                            h4.title REAL ESTATE
                            h5: a(href="") Buy
                            h5: a(href="") Rent
                        .col-2
                            h4.title ABOUT THE AGENCY
                            h5: a(href="") Meet The Agents
                            h5: a(href="") Development Group
                            h5: a(href="") The Agency Creates
                        .col-3
                            h4.title Connect
                            h5: a(href="") Read The Agency Daily
                            h5: a(href="") Register An Acount
                            h5: a(href="") Contact
                        .col-4
                            h1 Receive Our Newsletter
                            .s-line
                                input(type="email", placeholder="EMAIL ADDRESS")
                                button(type="submit")
                                    span.fa.fa-chevron-right
                            .social
                                a(href="")
                                    span.fa.fa-facebook-f
                                a(href="")
                                    span.fa.fa-twitter
                                a(href="")
                                    span.fa.fa-pinterest-p 
                                a(href="")
                                    span.fa.fa-youtube 
                                a(href="")
                                    span.fa.fa-instagram 



        include js.pug
        <script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
        <script src="https://fast.wistia.com/labs/crop-fill/plugin.js"></script>
        script(src="js/slick.min.js")
        script.
            var map;
            function initMap() {
                var options = {
                    center:{lat: -34.397, lng: 150.644},
                    zoom: 15,
                    mapTypeControl: false
                }
                map = new google.maps.Map(document.getElementById('map'), options);

                var maker = new google.maps.Marker({
                    position:{lat: -34.397, lng: 150.644},
                    map:map
                });
            }
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlXl5VyBim6ZP9QAvBx-Dfbi-AG3kQMmY&callback=initMap")