<!DOCTYPE html>
html(lang="en")
    include header.pug
    body.page-template-sell
        .wrap
            include sidenav.pug

            .container-fluid
                .row
                    #map.col-lg-6

                    .col-lg-6.offset-lg-6
                        #filter
                            .tbox
                                .row
                                    .col-6
                                        h3 Filter your results
                                    .col-6.toggle-btn
                                        button#tgb
                                            span.fa.fa-sort
                            .filter-content
                                .formField
                                    label Suburb
                                    //- input(type="text", placeholder="Select suburbs...")
                                    select.js-chosen.full(name="suburb[]", multiple="multiple", data-placeholder="Select suburbs...")
                                        option(value="ASHWOOD") Ashwood
                                        option(value="BAYSWATER NORTH") Bayswater North
                                        option(value="BENTLEIGH EAST") Bentleigh East
                                        option(value="BORONIA") Boronia
                                        option(value="BOX HILL NORTH") Box Hill North
                                        option(value="CAULFIELD") Caulfield

                                .tbox
                                    .row
                                        .col-lg-6
                                            .formField
                                                label Property Type
                                                select.js-chosen.full(name="property_type[]", multiple="multiple", data-placeholder="Select property types...")
                                                    option(value="") Business
                                                    option(value="") Commercial
                                                    option(value="") Commercial Land
                                                    option(value="") Residential Land
                                                    option(value="") Residential
                                                    option(value="") Rural
                                        .col-lg-6
                                            .formField.property-category-class-filter-costom
                                                input(type="hidden", name="property_category", id="property_category", value="")
                                                label Property Category
                                                select#prop-category
                                                    option(value="") Any
                                                    option(value="Apartment") Apartment
                                                
                                                

                                        .col-lg-6
                                            input(type="hidden", name="min_price_range", id="min_price_range", value="50000")
                                            input(type="hidden", name="max_price_range", id="max_price_range", value="10000000")
                                            input(type="hidden", name="step_size", id="step_size", value="5000")

                                            .formField.sl
                                                label Price Range
                                                input(type="hidden", name="price_from", id="price_from", value="50000")
                                                input(type="hidden", name="price_to", id="price_to", value="10000000")
                                                .slider.priceSlider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
                                                    .sliderTooltip
                                                        .stLabel
                                                            | $50,000
                                                            span.fa.fa-arrows-h
                                                            | $10,000,000
                                        .col-lg-6
                                            .formField
                                                label.enab Enable Price Range Filter
                                                .checkbox.custom-checkbox.price-filter-checkbox
                                                    label Enable Price Range Filter
                                                        input(name="enable_price_filter", id="enable_price_filter", value="1", type="checkbox")
                                                        span.fa.fa-check


                                        .col-lg-4
                                            .formField
                                                label Bedrooms
                                                input(type="hidden", name="beds", id="beds_value", value="")
                                                .beds-class
                                                    .volume
                                                        a(href="#", class="btn btn-gray btn-round-left js-left-btn", data-element="beds_value")
                                                            span.fa.fa-angle-left
                                                        input(type="text", class="form-control", readonly="readonly", value="Any")
                                                        a(href="#", class="btn btn-gray btn-round-right js-right-btn", data-element="beds_value")
                                                            span.fa.fa-angle-right
                                                        .clearfix

                                        .col-lg-4
                                            .formField
                                                label Bathrooms
                                                input(type="hidden", name="beds", id="beds_value", value="")
                                                .beds-class
                                                    .volume
                                                        a(href="#", class="btn btn-gray btn-round-left js-left-btn", data-element="beds_value")
                                                            span.fa.fa-angle-left
                                                        input(type="text", class="form-control", readonly="readonly", value="Any")
                                                        a(href="#", class="btn btn-gray btn-round-right js-right-btn", data-element="beds_value")
                                                            span.fa.fa-angle-right
                                                        .clearfix

                                        .col-lg-4
                                            .formField
                                                label Car Spaces
                                                input(type="hidden", name="beds", id="beds_value", value="")
                                                .beds-class
                                                    .volume
                                                        a(href="#", class="btn btn-gray btn-round-left js-left-btn", data-element="beds_value")
                                                            span.fa.fa-angle-left
                                                        input(type="text", class="form-control", readonly="readonly", value="Any")
                                                        a(href="#", class="btn btn-gray btn-round-right js-right-btn", data-element="beds_value")
                                                            span.fa.fa-angle-right
                                                        .clearfix  

                                        .col-12.submit-search
                                            button(type="submit") Apply Filter
                                            button#clear-filter Clear Filter
                        
                        #search-results
                            .tbox
                                .row
                                    .col-6
                                        h3 Properties Search Results
                                    //- .col-6
                                    //-     .formField.property-sort
                                    //-         label Sort by:
                                    //-         a(class="btn btn-white dropdown-toggle sort-link" data-toggle="dropdown")
                                    //-             span.dropdown-label Newest 
                                    //-             span.caret
                                    //-         ul(class="dropdown-menu dropdown-select sorter")
                                    //-             li.active
                                    //-                 input(type="radio", checked="checked", value="sort_newest", name="sort")
                                    //-                 a(href="javascript:void(0);") Newest
                                    //-             li
                                    //-                 input(type="radio", checked="checked", value="sort_lowest", name="sort")
                                    //-                 a(href="javascript:void(0);") Lowest Price
                                    //-             li
                                    //-                 input(type="radio", checked="checked", value="sort_highest", name="sort")
                                    //-                 a(href="javascript:void(0);") Highest Price

                            .search-content
                                .row
                                    .col-lg-6
                                        .item
                                            .photo
                                                img(src="images/sc.jpg", alt="")
                                                span.tag sold
                                                span.fa.fa-eye
                                            .detail
                                                h4 Double Storey Period Charm in the Heart of Noble Park!t of Noble Park!
                                                p
                                                    span.fa.fa-map-marker
                                                    | 7 Baldwin Avenue, NOBLE PARK
                                                .interior
                                                    .di
                                                        span.fa.fa-bed
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-bathtub
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-car
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-map
                                                        span.num 720m2
                                                .price
                                                    | Sold for $681,111
                                            a(href="")
                                    .col-lg-6
                                        .item
                                            .photo
                                                img(src="images/sc.jpg", alt="")
                                                span.tag sold
                                                span.fa.fa-eye
                                            .detail
                                                h4 Double Storey Period Charm in the Heart of Noble Park!t of Noble Park!
                                                p
                                                    span.fa.fa-map-marker
                                                    | 7 Baldwin Avenue, NOBLE PARK
                                                .interior
                                                    .di
                                                        span.fa.fa-bed
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-bathtub
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-car
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-map
                                                        span.num 720m2
                                                .price
                                                    | Sold for $681,111
                                            a(href="")
                                    .col-lg-6
                                        .item
                                            .photo
                                                img(src="images/sc.jpg", alt="")
                                                span.tag sold
                                                span.fa.fa-eye
                                            .detail
                                                h4 Double Storey Period Charm in the Heart of Noble Park!t of Noble Park!
                                                p
                                                    span.fa.fa-map-marker
                                                    | 7 Baldwin Avenue, NOBLE PARK
                                                .interior
                                                    .di
                                                        span.fa.fa-bed
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-bathtub
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-car
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-map
                                                        span.num 720m2
                                                .price
                                                    | Sold for $681,111
                                            a(href="")
                                    .col-lg-6
                                        .item
                                            .photo
                                                img(src="images/sc.jpg", alt="")
                                                span.tag sold
                                                span.fa.fa-eye
                                            .detail
                                                h4 Double Storey Period Charm in the Heart of Noble Park!t of Noble Park!
                                                p
                                                    span.fa.fa-map-marker
                                                    | 7 Baldwin Avenue, NOBLE PARK
                                                .interior
                                                    .di
                                                        span.fa.fa-bed
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-bathtub
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-car
                                                        span.num 1
                                                    .di
                                                        span.fa.fa-map
                                                        span.num 720m2
                                                .price
                                                    | Sold for $681,111
                                            a(href="")



        include js.pug
        script(src="js/main.js")
        script.
            $('#tgb').click(function(){
                $('.filter-content').slideToggle();
            });
            /* for filter section start*/
            $("#prop-category").selectmenu();
            /* preferences page javascript start */

            $(".js-preference-dropdown").click(function() {
                if (!($(this).parent().hasClass('disabled')))
                {
                $(this).prev().prop("checked", true);

                if( $(this).text() == 'Any' || ( ( $(this).text() == 'Bedrooms' || $(this).text() == 'Bathrooms' ) && $(this).closest('form').attr('id') == 'search_form_home' ) )
                    $('#'+$(this).attr('data-element')).val('');
                else if ( $(this).attr('data-element') == 'property_type' || $(this).attr('data-element') == 'property_category' )
                    $('#'+$(this).attr('data-element')).val($(this).text());
                else
                    $('#'+$(this).attr('data-element')).val($(this).text().replace(/[^0-9\s]/gi, '').replace(/[_\s]/g, ' '));

                $(this).parent().siblings().removeClass('active');
                $(this).parent().addClass('active');
                $(this).parent().parent().siblings('.dropdown-toggle').children('.dropdown-label').html($(this).text());
                }
            });
            /* preferences page javascript end */
            /* initialize chosen select */
            $('.js-chosen').chosen({
                allow_single_deselect: true,
                disable_search_threshold: 32
            });

            /* initialize multiselect */
            $('.js-custom-multiselect').multiselect({ noneSelectedText: "Select suburb" });
            $('.js-custom-property-type-multiselect').multiselect({ noneSelectedText: "Select property type" });

            $('.ui-multiselect').append('<span class="caret"></span>');

            // functionality for custom dropdown sort list
            $('a.sort-link').click(function() {
                if (!($(this).parent().hasClass('disabled')))
                {
                $(this).prev().prop("checked", true);

                switch($(this).prev().val())
                {
                    case 'sort_newest':
                        $('#sort_order_custom').val('date_listed');
                        $('#sort_dir_custom').val('asc');
                    break;
                    case 'sort_lowest':
                        $('#sort_order_custom').val('price_from');
                        $('#sort_dir_custom').val('asc');
                    break;
                    case 'sort_highest':
                        $('#sort_order_custom').val('price_from');
                        $('#sort_dir_custom').val('desc');
                    break;
                }
                $(this).parent().siblings().removeClass('active');
                $(this).parent().addClass('active');
                $(this).parent().parent().siblings('.dropdown-toggle').children('.dropdown-label').html($(this).text());
                
                if(!$('#enable_price_filter').is(":checked")) {        
                    $('#price_from').val("");
                    $('#price_to').val("");          
                }
                
                document.getElementById('search_form').submit();
                }
            });
            
            $('.search-filter').click(function() {
                if(!$('#enable_price_filter').is(":checked")) {        
                    $('#price_from').val("");
                    $('#price_to').val("");          
                }
                document.getElementById('search_form').submit();
            });
            /* Price Slider */
            var priceMin = parseInt($('#min_price_range').val(), 10);
            var priceMax = parseInt($('#max_price_range').val(), 10);
            var priceFrom = parseInt($('#price_from').val(), 10);
            var priceTo = parseInt($('#price_to').val(), 10);
            var step = parseInt($('#step_size').val(), 10);

            function priceSliderSlide(event, ui) {
                $('.priceSlider .sliderTooltip .stLabel').html(
                '$' + ui.values[0].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") +
                ' <span class="fa fa-arrows-h"></span> ' +
                '$' + ui.values[1].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                );

                $('#price_from').val(ui.values[0].toString());
                $('#price_to').val(ui.values[1].toString());

                var priceSliderRangeLeft = parseInt($('.priceSlider .ui-slider-range').css('left'));
                var priceSliderRangeWidth = $('.priceSlider .ui-slider-range').width();
                var priceSliderLeft = priceSliderRangeLeft + ( priceSliderRangeWidth / 2 ) - ( $('.priceSlider .sliderTooltip').width() / 2 );
                $('.priceSlider .sliderTooltip').css('left', Math.max(0, priceSliderLeft));
            }

            $('.priceSlider').slider({
                range: true,
                min: priceMin,
                max: priceMax,
                values: [priceFrom, priceTo],
                step: step,
                slide: priceSliderSlide
            });

            priceSliderSlide(null, {values: [priceFrom, priceTo]});

            /* Area Slider */
            var minInitialLand= 100;
            if($('#land_size_from').val() != '')
                minInitialLand = $('#land_size_from').val();

            var maxInitialLand= 1000;
            if($('#land_size_to').val() != '')
                maxInitialLand = $('#land_size_to').val();

            $('.areaSlider').slider({
                range: true,
                min: 0,
                max: 1000,
                values: [minInitialLand, maxInitialLand],
                step: 10,
                slide: function(event, ui) {
                $('.areaSlider .sliderTooltip .stLabel').html(
                    ui.values[0].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + ' ' +
                    ' <span class="fa fa-arrows-h"></span> ' +
                    ui.values[1].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + ' '
                );
                $('#land_size_from').val(ui.values[0].toString());
                $('#land_size_to').val(ui.values[1].toString());

                var areaSliderRangeLeft = parseInt($('.areaSlider .ui-slider-range').css('left'));
                var areaSliderRangeWidth = $('.areaSlider .ui-slider-range').width();
                var areaSliderLeft = areaSliderRangeLeft + ( areaSliderRangeWidth / 2 ) - ( $('.areaSlider .sliderTooltip').width() / 2 );
                $('.areaSlider .sliderTooltip').css('left', areaSliderLeft);
                }
            });

            var sliderValuesMinLand=0;
            var sliderValuesMaxLand=0;
            if($('#land_size_from').val() != '')
                sliderValuesMinLand=$('#land_size_from').val();
            else
                sliderValuesMinLand=$('.areaSlider').slider('values', 0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

            if($('#land_size_to').val() != '')
                sliderValuesMaxLand=$('#land_size_to').val();
            else
                sliderValuesMaxLand=$('.areaSlider').slider('values', 1).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");


            $('.areaSlider .sliderTooltip .stLabel').html( sliderValuesMinLand + ' ' +
                ' <span class="fa fa-arrows-h"></span> ' + sliderValuesMaxLand + ' '
            );
            var areaSliderRangeLeft = parseInt($('.areaSlider .ui-slider-range').css('left'));
            var areaSliderRangeWidth = $('.areaSlider .ui-slider-range').width();
            var areaSliderLeft = areaSliderRangeLeft + ( areaSliderRangeWidth / 2 ) - ( $('.areaSlider .sliderTooltip').width() / 2 );
            $('.areaSlider .sliderTooltip').css('left', areaSliderLeft);

            // Property bed, car, bath left right buttons
            $('.js-right-btn').click(function() {
                var currentVal=0;
                if($(this).siblings('input').val() == 'Any')
                currentVal=0;
                else
                currentVal = parseInt($(this).siblings('input').val());

                if (currentVal < 10) {
                $(this).siblings('input').val(currentVal + 1);
                $('#'+$(this).attr('data-element')).val(currentVal + 1);
                }
            });

            $('.js-left-btn').click(function() {
                var currentVal=0;
                if($(this).siblings('input').val() == 'Any')
                currentVal=0;
                else
                currentVal = parseInt($(this).siblings('input').val());

                if (currentVal > 1) {
                $(this).siblings('input').val(currentVal - 1);
                $('#'+$(this).attr('data-element')).val(currentVal - 1);
                }else{
                $('#'+$(this).attr('data-element')).val('');
                $(this).siblings('input').val('Any');
                }
            });
            /* for filter section end*/


            /* for filter button toggel start*/
            $('.handleFilter').click(function() {
                $('.filterForm').slideToggle(200);
            });

            var map;
            function initMap() {
                var options = {
                    center:{lat: -34.397, lng: 150.644},
                    zoom: 15
                }
                map = new google.maps.Map(document.getElementById('map'), options);

                var maker = new google.maps.Marker({
                    position:{lat: -34.397, lng: 150.644},
                    map:map
                });
            }
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlXl5VyBim6ZP9QAvBx-Dfbi-AG3kQMmY&callback=initMap")
