header
    nav.d-nav
        a.slogo(href="index.html"): img(src="images/slogo.png", alt="")
        ul.top-left-menu
            li
                a(href="buy.html") 
                    span.fa.fa-home
                    span buy
                ul
                    li
                        a(href="sell.html") Search Propertise For Sale
                        a(href="sell.html") View Our Autions
                        a(href="sell.html") Residential
                        a(href="sell.html") Commercial
                        a(href="open-for-inspection.html") Open For Inspection
                        a(href="dualigent-checklist.html") Dualigent Checklist
                        a(href="buying-process-tips.html") Australian buying process & Tips
            li
                a(href="sell.html")
                    span.fa.fa-dollar
                    span sell
                ul
                    li
                        a(href="sell.html") Sold Propertise
                        a(href="why-reallink.html") Why Sell With RealLink
                        a(href="testimonial.html") Testimonial
                        a(href="selling-process.html") Selling Process
                        a(href="market-appraisal.html") Request Market Appraisel
            li
                a(href="company.html")
                    span.fa.fa-users
                    span company
                ul
                    li
                        a(href="") Our mission & Vision
                        a(href="team.html") Our Team
                        a(href="customer-testimonial.html") Customer Testimomial
                        a(href="contact.html") Contact Us
                        a(href="") Careers
            li
                a(href="news.html")
                    span.fa.fa-newspaper-o
                    span news
                ul
                    li
                        a(href="news.html") News
                        a(href="social.html") Social Media
.top-search-form
    button(type="submit")
        span.fa.fa-search
    input(type="text", placeholder="Search for address, suburb...")