header
    nav.d-nav
        a.slogo(href="index.html"): img(src="images/slogo.png", alt="")
        ul.top-left-menu
            li
                a(href="buy.html") 
                    span.fa.fa-home
                    span buy
                ul
                    li
                        a(href="") Search Propertise For Sale
                        a(href="") View Our Autions
                        a(href="") Residential
                        a(href="") Commercial
                        a(href="") Open For Inspection
                        a(href="") Dualigent Checklist
                        a(href="") Australian buying process & Tips
            li
                a(href="sell.html")
                    span.fa.fa-dollar
                    span sell
                ul
                    li
                        a(href="") Sold Propertise
                        a(href="") Why Sell With RealLink
                        a(href="") Testimonial
                        a(href="") Selling Process
                        a(href="") Request Market Appraisel
            li
                a(href="company.html")
                    span.fa.fa-users
                    span company
                ul
                    li
                        a(href="") Our mission & Vision
                        a(href="") Our Team
                        a(href="") Customer Testimomial
                        a(href="") Contact Us
                        a(href="") Careers
            li
                a(href="news.html")
                    span.fa.fa-newspaper-o
                    span news
                ul
                    li
                        a(href="") News
                        a(href="") Social Media
.top-search-form
    button(type="submit")
        span.fa.fa-search
    input(type="text", placeholder="Search for address, suburb...")