<!DOCTYPE html>
html(lang="en")
    include header.pug
    body.suburb-template-layout
        .wrap
            include nav.pug

            section#suburb-header
                .container
                    .row
                        .col-12    
                            h1.name PAYNEHAM
                            h2 Suburb Profile
            section#suburb-hero
            section#suburb-overview
                .container
                    .row
                        .col-12
                            h1 OVERVIEW
                            br
                            p Tucked away in Adelaide’s north east, Payneham is a small neighbourhood that has a strong Italian and French heritage. Walkable streets lead to the bustling intersection of Payneham and Portrush Roads, which is where you will find Marden Shopping Mall teeming with every day necessities. For more variety Norwood and Stepney are only moments away.
                            br
                            br
                            p The number of streets in Payneham may be few, but they were seemingly made for families with sturdy brick homes (many with heritage features), fenced in yards and wide footpaths. It’s is the type of place where kids are out pedalling their bikes, and parents take a lot of pride in their homes and yards. And although it has a real suburban oasis feel about it, Payneham is only a short 15-minute drive away from the centre of Adelaide CBD and the vibrancy of Rundle Mall.  
                            br
                            p Just across Payneham Road is the ever-popular (especially during the warmer months) Payneham Swimming Pool and Library. With plenty of greenspace to spread out, this part of Payneham has a real community feel, bringing people together from surrounding neighbourhoods. Payneham is a place that likes to keep things on the down low, but local know, that when they choose to, they can be among some of Adelaide’s most vibrant neighbourhoods within minutes. 
            section#suburb-map
                #map
            
            section#suburb-detail
                .container
                    .row
                        .col-lg-3
                            h3 Schools
                            p Trinity Gardens School
                            p Marden Senior College
                        .col-lg-5
                            h3 Distance from Adelaide CBD
                            p 6km
                        .col-lg-4
                            h3 Amenities
                            p Payneham Oval
                            p Payneham Library
                            p Payneham Swimming Centre

            section#suburb-local-setting
                .container
                    .row
                        .col-12
                            h1 LOCAL LISTINGS
                .house-feature
                    .container
                        .row
                            .col-lg-8
                                .item
                                    img(src="images/l1.jpg", alt="")
                                    .detail
                                        .address
                                            span 1677 N. DOHENY DRIVE
                                            span LOS ANGELES, CA
                                            span 90069
                                        .interior
                                            .di
                                                span.num 6
                                                span.fa.fa-bed
                                            .di
                                                span.num 6
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 6
                                                span.fa.fa-car
                                    .overlay
                                        h3 1677 N. DOHENY DRIVE LOS ANGELES, CA
                                        .interior
                                            .di
                                                span.num 6
                                                span.fa.fa-bed
                                            .di
                                                span.num 6
                                                span.fa.fa-bathtub
                                            .di
                                                span.num 6
                                                span.fa.fa-car
                                        span $81,000

                                    a(href="")
                            .col-lg-4
                                .row
                                    .col-12
                                        .item
                                            img(src="images/l1.jpg", alt="")
                                            .detail
                                                .address
                                                    span 1677 N. DOHENY DRIVE
                                                    span LOS ANGELES, CA
                                                    span 90069
                                                .interior
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bed
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bathtub
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-car
                                            .overlay
                                                h3 1677 N. DOHENY DRIVE LOS ANGELES, CA
                                                .interior
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bed
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bathtub
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-car
                                                span $81,000
                                            a(href="")
                                    .col-12.bot
                                        .item
                                            img(src="images/l1.jpg", alt="")
                                            .detail
                                                .address
                                                    span 1677 N. DOHENY DRIVE
                                                    span LOS ANGELES, CA
                                                    span 90069
                                                .interior
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bed
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bathtub
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-car
                                            .overlay
                                                h3 1677 N. DOHENY DRIVE LOS ANGELES, CA
                                                .interior
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bed
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-bathtub
                                                    .di
                                                        span.num 6
                                                        span.fa.fa-car
                                                span $81,000
                                            a(href="")
                        .more-prop
                            a(href="") More local properties


            section#suburb-surrouding-profile
                .container
                    .row
                        .col-12
                            h1 SURROUNDING SUBURB PROFILES
                    .sp-list
                        .row
                            .col-lg-4
                                .item
                                    img(src="images/sp.jpg", alt="")
                                    h2 st peters/college park
                                    a(href="")
                            .col-lg-4
                                .item
                                    img(src="images/sp.jpg", alt="")
                                    h2 st peters/college park
                                    a(href="")
                            .col-lg-4
                                .item
                                    img(src="images/sp.jpg", alt="")
                                    h2 st peters/college park
                                    a(href="")
                            .col-lg-4
                                .item
                                    img(src="images/sp.jpg", alt="")
                                    h2 st peters/college park
                                    a(href="")
                            .col-lg-4
                                .item
                                    img(src="images/sp.jpg", alt="")
                                    h2 st peters/college park
                                    a(href="")
                            .col-lg-4
                                .item
                                    img(src="images/sp.jpg", alt="")
                                    h2 st peters/college park
                                    a(href="")




            footer
                .container
                    h4 The Agency | 331 Foothill Road, Suite 100, Beverly Hills, CA 90210 | 424.230.3700 | Info@TheAgencyRE.com | CA DRE# 01904054
                    .row
                        .col-1
                            h4.title REAL ESTATE
                            h5: a(href="") Buy
                            h5: a(href="") Rent
                        .col-2
                            h4.title ABOUT THE AGENCY
                            h5: a(href="") Meet The Agents
                            h5: a(href="") Development Group
                            h5: a(href="") The Agency Creates
                        .col-3
                            h4.title Connect
                            h5: a(href="") Read The Agency Daily
                            h5: a(href="") Register An Acount
                            h5: a(href="") Contact
                        .col-4
                            h1 Receive Our Newsletter
                            .s-line
                                input(type="email", placeholder="EMAIL ADDRESS")
                                button(type="submit")
                                    span.fa.fa-chevron-right
                            .social
                                a(href="")
                                    span.fa.fa-facebook-f
                                a(href="")
                                    span.fa.fa-twitter
                                a(href="")
                                    span.fa.fa-pinterest-p 
                                a(href="")
                                    span.fa.fa-youtube 
                                a(href="")
                                    span.fa.fa-instagram 



        include js.pug
        <script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
        <script src="https://fast.wistia.com/labs/crop-fill/plugin.js"></script>
        script(src="js/slick.min.js")
        script.
            var map;
            function initMap() {
                var options = {
                    center:{lat: -34.397, lng: 150.644},
                    zoom: 15
                }
                map = new google.maps.Map(document.getElementById('map'), options);
            }
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlXl5VyBim6ZP9QAvBx-Dfbi-AG3kQMmY&callback=initMap")