<!DOCTYPE html>
html(lang="en")
    include header.pug
    body.team-template-layout
        .wrap
            include nav.pug

            section#hero(style="background: url(images/balls.jpg) center center/ cover no-repeat;")
                h1 Meet the team

            section#team-member-list
                .container
                    .row
                        .col-lg-4
                            .item
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                        .col-lg-4
                            .item
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                        .col-lg-4
                            .item
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                        .col-lg-4
                            .item
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                        .col-lg-4
                            .item
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")
                        .col-lg-4
                            .item
                                img(src="images/a.png", alt="")
                                .detail
                                    h3 blair chang
                                    h4 founder, partner
                                    p 424.424.242
                                    p BChang@gmail.com
                                a(href="")

            footer
                .container
                    h4 The Agency | 331 Foothill Road, Suite 100, Beverly Hills, CA 90210 | 424.230.3700 | Info@TheAgencyRE.com | CA DRE# 01904054
                    .row
                        .col-1
                            h4.title REAL ESTATE
                            h5: a(href="") Buy
                            h5: a(href="") Rent
                        .col-2
                            h4.title ABOUT THE AGENCY
                            h5: a(href="") Meet The Agents
                            h5: a(href="") Development Group
                            h5: a(href="") The Agency Creates
                        .col-3
                            h4.title Connect
                            h5: a(href="") Read The Agency Daily
                            h5: a(href="") Register An Acount
                            h5: a(href="") Contact
                        .col-4
                            h1 Receive Our Newsletter
                            .s-line
                                input(type="email", placeholder="EMAIL ADDRESS")
                                button(type="submit")
                                    span.fa.fa-chevron-right
                            .social
                                a(href="")
                                    span.fa.fa-facebook-f
                                a(href="")
                                    span.fa.fa-twitter
                                a(href="")
                                    span.fa.fa-pinterest-p 
                                a(href="")
                                    span.fa.fa-youtube 
                                a(href="")
                                    span.fa.fa-instagram 



        include js.pug
        <script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
        <script src="https://fast.wistia.com/labs/crop-fill/plugin.js"></script>
        script(src="js/slick.min.js")