<!DOCTYPE html>
html(lang="en")
    include header.pug
    body.page-template-sell
        .wrap
            include sidenav.pug

            .container-fluid
                #testimonial
                    .item
                        .row
                            .col-lg-5
                                img(src="images/tes.jpg", alt="")
                            .col-lg-7
                                .detail
                                    p We would like to thanks Mr Tony Le and Mr Kosal for their wonderful work on selling our investment very quick. and we for sure will recommend to our friends and family Leyton Real Estate agent for any real estate needs.
                                    br
                                    p Again thank you very much.
                                    br
                                    p(style="font-style:italic") Yours sincerly,
                                    p(style="font-weight:bold") Janeht & Felix Bolanos
                    
                    .item
                        .row
                            .col-lg-5
                                img(src="images/tes.jpg", alt="")
                            .col-lg-7
                                .detail
                                    p We would like to thanks Mr Tony Le and Mr Kosal for their wonderful work on selling our investment very quick. and we for sure will recommend to our friends and family Leyton Real Estate agent for any real estate needs.
                                    br
                                    p Again thank you very much.
                                    br
                                    p(style="font-style:italic") Yours sincerly,
                                    p(style="font-weight:bold") Janeht & Felix Bolanos

                    .item
                        .row
                            .col-lg-5
                                img(src="images/tes.jpg", alt="")
                            .col-lg-7
                                .detail
                                    p We would like to thanks Mr Tony Le and Mr Kosal for their wonderful work on selling our investment very quick. and we for sure will recommend to our friends and family Leyton Real Estate agent for any real estate needs.
                                    br
                                    p Again thank you very much.
                                    br
                                    p(style="font-style:italic") Yours sincerly,
                                    p(style="font-weight:bold") Janeht & Felix Bolanos
                    
                    .item
                        .row
                            .col-lg-5
                                img(src="images/tes.jpg", alt="")
                            .col-lg-7
                                .detail
                                    p We would like to thanks Mr Tony Le and Mr Kosal for their wonderful work on selling our investment very quick. and we for sure will recommend to our friends and family Leyton Real Estate agent for any real estate needs.
                                    br
                                    p Again thank you very much.
                                    br
                                    p(style="font-style:italic") Yours sincerly,
                                    p(style="font-weight:bold") Janeht & Felix Bolanos
                    



        include js.pug
        script(src="js/main.js")