header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 40px;
    transition: .3s;
    img {
        transition: .3s;
    }
    &.fixed {
        background: rgba($blue, .8);
        padding: 5px 20px;
        .d-nav {
            font-size: 16px;
            li {
                a {
                    border-bottom: 24px solid transparent;
                    border-left: 5px solid transparent;
                    border-right: 10px solid transparent;
                    height: 0;
                    padding: 0 5px;
                    transition: .3s;
                    &.active, &:hover {
                        border-bottom: 24px solid $green;
                        border-left: 5px solid transparent;
                        border-right: 10px solid transparent;
                        height: 0;
                        padding: 0 5px;
                    }
                }
            }
        }
        img {
            width: 50%;
            @media all and (max-width:1440px) {
                width: 80%;
            }
            @media all and (max-width:1366px) {
                width: 70%;
            }
        }
    }
    &.m-fixed {
        background: rgba($blue, .8);
    }
}
.d-nav {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background: rgba(#fff, 0);
    color: #ffffff;
    @media all and (max-width:1366px) {
        font-size: 16px;
    }
    @media all and (max-width:1280px) {
        font-size: 14px;
    }
    @media all and (max-width:991px) {
        justify-content: center;
    }
    .logo {
        margin-left: 10px;
        @media all and (max-width:991px) {
            max-width: 160px;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media all and (max-width:991px) {
            display: none;
        }
    }
    li {
        margin: 0 40px;
        display: flex;
        align-items: center;
        @media all and (max-width:1600px) {
            margin: 0 25px;
        }
        @media all and (max-width:1366px) {
            margin: 0 20px;
        }
        @media all and (max-width:1100px) {
            margin: 0 15px;
        }
        &:last-child {
            position: relative;
            margin-right: 0;
            &:before {
                content:"";
                margin-right: 40px;
                width: 1px;
                height: 90px;
                background: #ffffff;
                display: block;
                transform: rotate(20deg);
            }
            a {
                border: 0;
                height: auto;
            }
        }
        a {
            border-bottom: 30px solid transparent;
            border-left: 5px solid transparent;
            border-right: 10px solid transparent;
            height: 0;
            padding: 0 5px;
            transition: .3s;
            &.active, &:hover {
                border-bottom: 30px solid $green;
                border-left: 5px solid transparent;
                border-right: 10px solid transparent;
                height: 0;
                padding: 0 5px;
            }
        }
    }
}