<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .wrapper
            #block_1
                .slide-wapper
                    .slide-item
                        h3.slide-item__title This is slide 1
                        img(src="images/ocean2.jpg", alt="")
                    .slide-item
                        h3.slide-item__title This is slide 2
                        img(src="images/ocean3.jpg", alt="")
                    .slide-item
                        h3.slide-item__title This is slide 3
                        img(src="images/ocean4.jpg", alt="")
                    .slide-item
                        h3.slide-item__title This is slide 4
                        img(src="images/ocean5.jpg", alt="")
                
                a(href="#", data-nav="previous").scene-nav.prev PREV
                a(href="#", data-nav="next").scene-nav.next NEXT


            

        script(src="js/pixi.min.js")
        script(src="script.js")

        script.
            //- initPixi()