<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="simple pug template")
        meta(name="author", content="latiosthinh")

        title Home
        //- bootstrap
        link(rel="stylesheet", href="css/bootstrap.min.css")
        //- font
        //- link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        //- link(rel="stylesheet", href="fonts/elegantIcon/elegantIcon.css")
        link(rel="stylesheet", href="css/slick.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        //- [if lt IE 9]>
        //-     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]
    body
        .wrap
            section#fb
                .container-fluid
                    .row
                        .back
                            button.bb
                                <ion-icon name="ios-arrow-round-back"></ion-icon>
                        .share
            section#blog-banner
                img(src="images/blog.jpg", alt="")
                .container
                    .row
                        h1 Anh Minh phân phối chính thức
                            br
                            |các thiết bị khí nén của SMC, thiết bị phòng sạch
                            br
                            |của SHIN-EI SANGYO, dụng cụ cầm tay của ESCO tại Việt Nam
                        p Sự kiện Anh Minh Group tổ chức - 5 giờ trước

            section#blog-content
                .container  
                    .d1
                        img.a.l(src="images/b1.jpg", alt="")
                        h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor didunt ut labore et dolore 
                        p Id diam maecenas ultricies mi eget mauris pharetra et. Massa tincidunt dui ut ornare lectus sit amet est. Imperdiet proin fermentum leo vel. Nisl purus in mollis nunc sed. Ante in nibh mauris cursus mattis molestie a. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Cum sociis natoque penatibus et magnis dis. Nibh praesent tristique magna sit amet purus gravida quis. Venenatis lectus magna fringilla urna porttitor. Sit amet tellus cras adipiscing enim eu. Maecenas volutpat blandit aliquam etiam erat velit. At lectus urna duis convallis convallis tellus. Amet dictum sit amet justo donec enim diam. Interdum velit laoreet id donec ultrices tincidunt. Ultrices eros in cursus turpis massa tincidunt dui. Sed blandit libero volutpat sed cras ornare arcu. Ultrices eros in cursus turpis massa tincidunt dui ut ornare.

                            | Pretium nibh ipsum consequat nisl vel. Magnis dis parturient montes nascetur ridiculus mus. Tortor id aliquet lectus proin nibh nisl condimentum id venenatis. Nam at lectus urna duis convallis convallis tellus id interdum. Faucibus scelerisque eleifend donec pretium vulputate. Eu turpis egestas pretium aenean. Pretium fusce id velit ut tortor pretium viverra suspendisse. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Turpis egestas maecenas pharetra convallis. Tellus id interdum velit laoreet. Non tellus orci ac auctor augue mauris augue neque. Nulla at volutpat diam ut venenatis tellus. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Nunc consequat interdum varius sit amet mattis vulputate. Ultrices vitae auctor eu augue ut. Mattis molestie a iaculis at erat pellentesque.
                    img.o(src="images/b2.jpg", alt="")
                    p.des Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    p Id diam maecenas ultricies mi eget mauris pharetra et. Massa tincidunt dui ut ornare lectus sit amet est. Imperdiet proin fermentum leo vel. Nisl purus in mollis nunc sed. Ante in nibh mauris cursus mattis molestie a. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Cum sociis natoque penatibus et magnis dis. Nibh praesent tristique magna sit amet purus gravida quis. Venenatis lectus magna fringilla urna porttitor. Sit amet tellus cras adipiscing enim eu. Maecenas volutpat blandit aliquam etiam erat velit. At lectus urna duis convallis convallis tellus. Amet dictum sit amet justo donec enim diam. Interdum velit laoreet id donec ultrices tincidunt. Ultrices eros in cursus turpis massa tincidunt dui. Sed blandit libero volutpat sed cras ornare arcu. Ultrices eros in cursus turpis massa tincidunt dui ut ornare.

                        |Pretium nibh ipsum consequat nisl vel. Magnis dis parturient montes nascetur ridiculus mus. Tortor id aliquet lectus proin nibh nisl condimentum id venenatis. Nam at lectus urna duis convallis convallis tellus id interdum. Faucibus scelerisque eleifend donec pretium vulputate. Eu turpis egestas pretium aenean. Pretium fusce id velit ut tortor pretium viverra suspendisse. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Turpis egestas maecenas pharetra convallis. Tellus id interdum velit laoreet. Non tellus orci ac auctor augue mauris augue neque. Nulla at volutpat diam ut venenatis tellus. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Nunc consequat interdum varius sit amet mattis vulputate. Ultrices vitae auctor eu augue ut. Mattis molestie a iaculis at erat pellentesque.
                    
                    .d2
                        h2 Ornare arcu odio ut sem. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Pulvinar neque laoreet suspendisse interdum consectetur libero.
                        p Adipiscing bibendum est ultricies integer. Orci dapibus ultrices in iaculis nunc. Lacus luctus accumsan tortor posuere ac. Tempus urna et pharetra pharetra massa massa ultricies mi. Lectus arcu bibendum at varius vel pharetra vel. Laoreet id donec ultrices tincidunt arcu. Odio tempor orci dapibus ultrices in iaculis nunc sed. Eget mi proin sed libero enim. Feugiat vivamus at augue eget arcu dictum. Neque ornare aenean euismod elementum. Elementum sagittis vitae et leo duis ut. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Consectetur adipiscing elit ut aliquam purus. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Neque laoreet suspendisse interdum consectetur libero id. Amet consectetur adipiscing elit pellentesque habitant. Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat.
                            | Pretium viverra suspendisse potenti nullam ac. Eu augue ut lectus arcu bibendum at varius vel. Egestas purus viverra accumsan in nisl nisi scelerisque eu. Amet justo donec enim diam vulputate. Hendrerit dolor magna eget est lorem. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. Morbi leo urna molestie at elementum eu facilisis. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Pretium viverra suspendisse potenti nullam. Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Sit amet massa vitae tortor condimentum lacinia quis. Malesuada proin libero nunc consequat interdum. Nunc sed augue lacus viverra vitae congue.
                            |Netus et malesuada fames ac turpis egestas. Urna neque viverra justo nec ultrices dui sapien eget mi. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas. Quis viverra nibh cras pulvinar mattis nunc sed. Bibendum enim facilisis gravida neque convallis a cras semper. Ultrices vitae auctor eu augue ut. Elementum facilisis leo vel fringilla est ullamcorper. Neque vitae tempus quam pellentesque nec nam aliquam. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Sit amet est placerat in egestas. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus.
                            |Hendrerit dolor magna eget est lorem ipsum dolor. Aenean sed adipiscing diam donec adipiscing tristique risus nec. In mollis nunc sed id semper. Imperdiet nulla malesuada pellentesque elit eget gravida. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. A arcu cursus vitae congue mauris rhoncus. Donec ac odio tempor orci dapibus ultrices in. Posuere ac ut consequat semper viverra nam libero. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Ultrices neque ornare aenean euismod elementum nisi. Sollicitudin nibh sit amet commodo nulla facilisi nullam. Ultricies mi quis hendrerit dolor magna eget est lorem. Purus semper eget duis at tellus at. Sed arcu non odio euismod lacinia at quis risus. Lacus sed turpis tincidunt id. Tortor at risus viverra adipiscing at in tellus integer. Nullam ac tortor vitae purus faucibus ornare. Quisque sagittis purus sit amet volutpat consequat.
                        img.a.r(src="images/b3.jpg", alt="")
                    h2.last Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            footer
                .container
                    .row
                        .col-lg-2
                            a(href="").logo
                                img(src="images/logo.png", alt="")
                        .col-lg-7
                            h2 CÔNG TY TNHH XUẤT NHẬP KHẨU & DỊCH VỤ ANH MINH
                            p Tel: 024 6251 5355 
                            p Fax : 024 6251 5356
                            p Email: info@anhminhgroup.vn 
                            //- p sales@mactech.vn
                            p Văn phòng giao dịch : Tầng 2, Tòa nhà Petrowaco, 97-99 Láng Hạ, Đống Đa, Hà Nội
                        .col-lg-3
                            h3 LIÊN HỆ VỚI CHÚNG TÔI
                            .soc
                                a(href="")
                                    span.ion-social-facebook
                                a(href="")
                                    span.ion-social-linkedin-outline
                                a(href="")
                                    span.ion-social-youtube-outline
                            p.copy Copyright - All rights reserved.

            .fb-root
script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
script(src="js/jquery.js")
script(src="js/gsap.min.js")
script(src="js/scrollMagic.min.js")
script(src="js/debug.addIndicators.min.js")
script(src="js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/slide.js")
script(src="js/script.js")
script.
    $('.d-nav').hc_menu({
        open: '.open-mnav',
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $('.bb').click(function() {
        parent.jQuery.fancybox.getInstance().close();
    })
