<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="simple pug template")
        meta(name="author", content="latiosthinh")

        title Home
        //- bootstrap
        link(rel="stylesheet", href="css/bootstrap.min.css")
        //- font
        //- link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        //- link(rel="stylesheet", href="fonts/elegantIcon/elegantIcon.css")
        link(rel="stylesheet", href="css/slick.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        //- [if lt IE 9]>
        //-     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]
    body
        .wrap
            include header

            
            section#datban
                .container
                    h1 đặt bàn
                    
                    .form
                        .sline
                            label Giờ
                            input(type="text", placeholder="hh/mm")
                        .sline
                            label Ngày
                            input(type="date")
                        .sline
                            label Nhà hàng
                            select.nh
                                option(value="Nhà hàng 1") Nhà hàng 1
                                option(value="Nhà hàng 2") Nhà hàng 2
                        .sline
                            label Danh xưng
                            select
                                option(value) Ông
                                option Bà
                        .sline
                            label Họ tên
                            input(type="text")
                        .sline
                            label Điện thoại
                            input(type="text")
                        .sline
                            label Email
                            input(type="text")
                        .sline.nl
                            .s
                                label Số lượng khách người lớn
                                input(type="number")
                            .s
                                label Số lượng khách trẻ em
                                input(type="number")
                        .sline.ta
                            label Ghi chú
                            textarea(rows="5")
                        .sline
                            input(type="submit", value="Đặt ngay")

            footer
                .container
                    .row
                        .col-lg-2
                            a(href="").logo
                                img(src="images/logo.png", alt="")
                        .col-lg-7
                            h2 CÔNG TY TNHH XUẤT NHẬP KHẨU & DỊCH VỤ ANH MINH
                            p Tel: 024 6251 5355 
                            p Fax : 024 6251 5356
                            p Email: info@anhminhgroup.vn 
                            //- p sales@mactech.vn
                            p Văn phòng giao dịch : Tầng 2, Tòa nhà Petrowaco, 97-99 Láng Hạ, Đống Đa, Hà Nội
                        .col-lg-3
                            h3 LIÊN HỆ VỚI CHÚNG TÔI
                            .soc
                                a(href="")
                                    span.ion-social-facebook
                                a(href="")
                                    span.ion-social-linkedin-outline
                                a(href="")
                                    span.ion-social-youtube-outline
                            p.copy Copyright - All rights reserved.

            .fb-root
script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
script(src="js/jquery.js")
script(src="js/gsap.min.js")
script(src="js/scrollMagic.min.js")
script(src="js/debug.addIndicators.min.js")
script(src="js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/slide.js")
script(src="js/script.js")
script.
    $('.d-nav').hc_menu({
        open: '.open-mnav',
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
