footer
    .container
        .row
            .col-lg-2
                a(href="").logo
                    img(src="images/logo.png", alt="")
            .col-lg-7
                h2 CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ DỊCH VỤ ANH MINH
                p 
                    span Điện thoại: 
                    |024 6251 5355 
                p 
                    span Fax: 
                    |024 6251 5356
                //- p Email: info@anhminhgroup.vn 
                //- p sales@mactech.vn
                p Văn phòng giao dịch: Tầng 2, Tòa nhà Petrowaco, 97-99 Láng Hạ, Đống Đa, Hà Nội
            .col-lg-3
                h3 KẾT NỐI VỚI CHÚNG TÔI
                .soc
                    a(href="https://www.facebook.com/anhminhplus/")
                        //- span.ion-social-facebook
                        span.fa.fa-facebook-f
                    a(href="")
                        //- span.ion-social-linkedin-outline
                        span.fa.fa-linkedin
                    a(href="")
                        //- span.ion-social-youtube-outline
                        span.fa.fa-youtube-play
            .col-12
                p.copy Copyright - All rights reserved.