section#contact
    .container
        h1 liên hệ với chúng tôi
        .row
            .col-lg-6
                <ion-icon name="home"></ion-icon>
                p Tầng 2, Tòa nhà Petrowaco,
                    br
                    |97-99 Láng Hạ, Đống Đa, Hà Nội
            .col-lg-6
                <ion-icon name="call"></ion-icon>
                p 024 6251 5355

section#map
    .detail
        .title
            <ion-icon name="pin"></ion-icon>
            h3 Trụ sở
                br
                | Anh Minh Group
        p Tầng 2, Tòa nhà Petrowaco, 97-99 Láng Hạ, Đống Đa, Hà Nội
        a(href="https://www.google.com/maps/place/T%C3%B2a+nh%C3%A0+97-99+L%C3%A1ng+H%E1%BA%A1/@21.0143412,105.8117341,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ab63baab0d6d:0x6c01e4981a4e6941!8m2!3d21.0143412!4d105.8139228", target="_blank")
            | see on google maps


footer
    .container
        .row
            .col-lg-2
                a(href="").logo
                    img(src="images/logo.png", alt="")
            .col-lg-7
                h2 CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ DỊCH VỤ ANH MINH
                p 
                    span Điện thoại: 
                    |024 6251 5355 
                p 
                    span Fax: 
                    |024 6251 5356
                //- p Email: info@anhminhgroup.vn 
                //- p sales@mactech.vn
                p Văn phòng giao dịch: Tầng 2, Tòa nhà Petrowaco, 97-99 Láng Hạ, Đống Đa, Hà Nội
            .col-lg-3
                h3 KẾT NỐI VỚI CHÚNG TÔI
                .soc
                    a(href="https://www.facebook.com/anhminhplus/")
                        span.ion-social-facebook
                    a(href="")
                        span.ion-social-linkedin-outline
                    a(href="")
                        span.ion-social-youtube-outline
            .col-12
                p.copy Copyright - All rights reserved.