<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="simple pug template")
        meta(name="author", content="latiosthinh")

        title Home
        //- bootstrap
        link(rel="stylesheet", href="css/bootstrap.min.css")
        //- font
        //- link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        //- link(rel="stylesheet", href="fonts/elegantIcon/elegantIcon.css")
        link(rel="stylesheet", href="css/slick.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        //- [if lt IE 9]>
        //-     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]
    body
        .wrap
            header
                a.logo(href="index.html"): img(src="images/logo.png", alt="")
                nav.d-nav.container
                    ul
                        li
                            a(href="") sản phẩm - dịch vụ
                            <ion-icon name="arrow-dropdown"></ion-icon>
                            ul
                                li: a.smooth(href="http://mactech.vn") thiết bị đo lường
                                li: a.smooth(href="service.html") dịch vụ nhà hàng
                                li: a.smooth(href="kdnq.html") kinh doanh nhượng quyền
                        li
                            a(href="gioithieu.html") giới thiệu
                        li
                            a.smooth(href="news.html", title="") tin tức - sự kiện
                            //- <ion-icon name="arrow-dropdown"></ion-icon>
                            //- ul
                            //-     li: a.smooth(href="tintuc.html") tin tức
                            //-     li: a.smooth(href="sukien.html") sự kiện
                        li: a(href="tuyendung.html") tuyển dụng
                        li: a(href="contact.html") liên hệ
                .s-form
                    button.search
                        <ion-icon name="search"></ion-icon>
                    input(type="text")
                    

                button.open-mnav MENU OPEN

            
            section#intro1(style="background:url(images/gioithieu.jpg) center center / cover no-repeat")
                .container
                    h1 Giới Thiệu Chung
                
            section#intro1-1
                .container
                    .row
                        .col-lg-10
                            h3 Giới thiệu
                            p Thành lập năm 2012, Anh Minh Group là công ty thương mại chuyên về cung cấp máy móc, dụng cụ đo lường chính xác của các thương hiệu nổi tiếng trên thế giới: Mitutoyo, Carl Zeiss, Niigata Seiki, Nikon, Adcole, Osaka Seimitsu Kikai…
                    .row
                        .col-lg-6
                            a(href="")
                                img(src="images/g1.png", alt="")
                            a(href="")
                                img(src="images/g2.png", alt="")
                            a(href="")
                                img(src="images/g3.png", alt="")
                    .row
                        .col-lg-10
                            p Năm 2015, Anh Minh Group mở rộng hoạt động kinh doanh sang lĩnh vực nhà hàng với thương hiệu đầu tiên mang tên Kampong Chicken House.Tới năm 2018, Anh Minh đã ra mắt thêm hai thương hiệu mới Coca Restaurant và Duck Plus. Tổng số nhà hàng được vận hành bởi Anh Minh Group tại Hà Nội là 7 nhà hàng và dự kiến sẽ tăng lên 20 nhà hàng trong năm 2020
                    .row
                        .col-lg-6
                            a(href="")
                                img(src="images/duck.png", alt="")
                            a(href="")
                                img(src="images/kampong.png", alt="")
                            a(href="")
                                img(src="images/coca.png", alt="")

            section#intro2
                .container
                    .row
                        .col-md-6
                            h3 TẦM NHÌN
                            img(src="images/g4.png", alt="").w
                            p Phát triển hệ sinh thái ẩm thực đặc biệt với nét văn hóa Á Châu, mục tiêu trở thành doanh nghiệp F&B chuyên nghiệp tại Việt Nam song hành trở thành Nhà phân phối hàng đầu với các doanh nghiệp sản xuất máy móc đo lường chính xác tại Việt Nam.
                        .col-md-6
                            h3 SỨ MỆNH
                            img(src="images/g5.png", alt="").w
                            p Chúng tôi luôn chủ động, không ngừng đổi mới, sáng tạo để mang lại những giá trị trọn vẹn từ sự tận tâm cho khách hàng, cộng đồng và cho mỗi thành viên của chúng tôi. 
                    .row
                        .col-md-12
                            h3 GIÁ TRỊ CỐT LÕI
                    .row
                        .col-md-2
                            img(src="images/gt1.png", alt="")
                            h4 Chủ động
                            p Làm chủ quy trình sản xuất, chủ động có các giải pháp kinh doanh
                        .col-md-2
                            img(src="images/gt2.png", alt="")
                            h4 sáng tạo
                            p Nhạy bén, nắm bắt xu thế, thay đổi kịp thời, hòa nhịp
                        .col-md-2
                            img(src="images/gt3.png", alt="")
                            h4 chuyên nghiệp
                            p Luôn học hỏi và hoàn thiện để nâng cao tính chuyên nghiệp trong quy trình sản xuất, kinh doanh
                        .col-md-2
                            img(src="images/gt4.png", alt="")
                            h4 uy tín
                            p Cam kết mang lại cho khách hàng và đối tác những sản phẩm và dịch vụ, chất lượng hoàn hảo
                        .col-md-2
                            img(src="images/gt5.png", alt="")
                            h4 tận tâm
                            p Gửi trọn tâm ý để xây dựng giá trị cho khách hàng, tận tâm với người lao động, với xã hội

            include footer.pug

            .fb-root
script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
script(src="js/jquery.js")
script(src="js/gsap.min.js")
script(src="js/scrollMagic.min.js")
script(src="js/debug.addIndicators.min.js")
script(src="js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/slide.js")
script(src="js/script.js")
script.
    $('.d-nav').hc_menu({
        open: '.open-mnav',
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
