header
    .container
        .row
            .col-12
                a.logo(href="index.html"): img(src="images/logo.png", alt="")
                nav.d-nav
                    ul
                        li
                            a(href="index.html") trang chủ
                        li
                            a(href="gioithieu.html") giới thiệu
                        li
                            a(href="") sản phẩm - dịch vụ
                            <ion-icon name="arrow-dropdown"></ion-icon>
                            ul
                                li: a.smooth(href="http://mactech.vn/") xuất nhập khẩu
                                li.has-child
                                    a.smooth(href="service.html") dịch vụ nhà hàng
                                        <ion-icon name="arrow-dropright"></ion-icon>
                                    ul.sub
                                        li: a(href="coca.html") Coca
                                        li: a(href="duckplus.html") Duckplus
                                        li: a(href="kampong.html") Kampong Chicken
                                li: a.smooth(href="kdnq.html") kinh doanh nhượng quyền
                        li
                            a.smooth(href="news.html", title="") tin tức - sự kiện
                            //- <ion-icon name="arrow-dropdown"></ion-icon>
                            //- ul
                            //-     li: a.smooth(href="tintuc.html") tin tức
                            //-     li: a.smooth(href="sukien.html") sự kiện
                        li: a(href="tuyendung.html") tuyển dụng
                        li: a(href="contact.html") liên hệ
                .s-form
                    button.search
                        <ion-icon name="search"></ion-icon>
                    input(type="text")
                

    button.open-mnav
        span
        span
        span