<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="simple pug template")
        meta(name="author", content="latiosthinh")

        title Home
        //- bootstrap
        link(rel="stylesheet", href="css/bootstrap.min.css")
        //- font
        link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/slick.css")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        //- [if lt IE 9]>
        //-     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]
    body
        .wrap
            include header

            
            section#banner
                img(src="images/banner.jpg", alt="")
                .container
                    .col-lg-6.left-slider
                        .item
                            h1 Anh Minh Group
                            p Thành lập năm 2012, Anh Minh Group là công ty thương mại chuyên về cung cấp máy móc, dụng cụ đo lường chính xác của các thương hiệu nổi tiếng trên thế giới: Mitutoyo, Carl Zeiss, Niigata Seiki, Nikon, Adcole, Osaka Seimitsu Kikai…
                                br
                                | Năm 2015, Anh Minh Group mở rộng hoạt động kinh doanh sang lĩnh vực nhà hàng với thương hiệu đầu tiên mang tên Kampong Chicken House…
                            a(href="") GIỚI THIỆU CHI TIẾT
                        .item
                            h1 Anh Minh Group
                            p Thành lập năm 2012, Anh Minh Group là công ty thương mại chuyên về cung cấp máy móc, dụng cụ đo lường chính xác của các thương hiệu nổi tiếng trên thế giới: Mitutoyo, Carl Zeiss, Niigata Seiki, Nikon, Adcole, Osaka Seimitsu Kikai…
                                br
                                | Năm 2015, Anh Minh Group mở rộng hoạt động kinh doanh sang lĩnh vực nhà hàng với thương hiệu đầu tiên mang tên Kampong Chicken House…
                            a(href="") GIỚI THIỆU CHI TIẾT
                        .item
                            h1 Anh Minh Group
                            p Thành lập năm 2012, Anh Minh Group là công ty thương mại chuyên về cung cấp máy móc, dụng cụ đo lường chính xác của các thương hiệu nổi tiếng trên thế giới: Mitutoyo, Carl Zeiss, Niigata Seiki, Nikon, Adcole, Osaka Seimitsu Kikai…
                                br
                                | Năm 2015, Anh Minh Group mở rộng hoạt động kinh doanh sang lĩnh vực nhà hàng với thương hiệu đầu tiên mang tên Kampong Chicken House…
                            a(href="") GIỚI THIỆU CHI TIẾT
                        .item
                            h1 Anh Minh Group
                            p Thành lập năm 2012, Anh Minh Group là công ty thương mại chuyên về cung cấp máy móc, dụng cụ đo lường chính xác của các thương hiệu nổi tiếng trên thế giới: Mitutoyo, Carl Zeiss, Niigata Seiki, Nikon, Adcole, Osaka Seimitsu Kikai…
                                br
                                | Năm 2015, Anh Minh Group mở rộng hoạt động kinh doanh sang lĩnh vực nhà hàng với thương hiệu đầu tiên mang tên Kampong Chicken House…
                            a(href="") GIỚI THIỆU CHI TIẾT
                        .item
                            h1 Anh Minh Group
                            p Thành lập năm 2012, Anh Minh Group là công ty thương mại chuyên về cung cấp máy móc, dụng cụ đo lường chính xác của các thương hiệu nổi tiếng trên thế giới: Mitutoyo, Carl Zeiss, Niigata Seiki, Nikon, Adcole, Osaka Seimitsu Kikai…
                                br
                                | Năm 2015, Anh Minh Group mở rộng hoạt động kinh doanh sang lĩnh vực nhà hàng với thương hiệu đầu tiên mang tên Kampong Chicken House…
                            a(href="") GIỚI THIỆU CHI TIẾT
                        .item
                            h1 Anh Minh Group
                            p Thành lập năm 2012, Anh Minh Group là công ty thương mại chuyên về cung cấp máy móc, dụng cụ đo lường chính xác của các thương hiệu nổi tiếng trên thế giới: Mitutoyo, Carl Zeiss, Niigata Seiki, Nikon, Adcole, Osaka Seimitsu Kikai…
                                br
                                | Năm 2015, Anh Minh Group mở rộng hoạt động kinh doanh sang lĩnh vực nhà hàng với thương hiệu đầu tiên mang tên Kampong Chicken House…
                            a(href="") GIỚI THIỆU CHI TIẾT
                .col-lg-5.right-slider
                    .item
                        p.order 01
                        a(href="") Về Anh Minh Group
                    .item
                        p.order 02
                        a(href="") Sự kiện 2
                    .item
                        p.order 03
                        a(href="") Sự kiện 3
                    .item
                        p.order 04
                        a(href="") Sự kiện 4
                    .item
                        p.order 05
                        a(href="") Sự kiện 5
                    .item
                        p.order 06
                        a(href="") Sự kiện 6
                    
                            


            section#workfield
                .container
                    h1 lĩnh vực hoạt động
                .container-fluid
                    .row
                        .col-lg-6.col-12
                            h2 Cung cấp
                                br
                                | thiết bị đo lường
                            p Anh Minh Group triển khai lĩnh vực kinh doanh đầu tiên là cung cấp thiết bị đo lường chính xác. Đây là nền tảng đầu tiên cho sự phát triển mạnh mẽ của Anh Minh Group thời gian qua.

                            a(href="http://mactech.vn/") tìm hiểu thêm
                        .col-lg-6.col-12
                            h2 kinh doanh
                                br
                                | dịch vụ nhà hàng
                            p Kinh doanh dịch vụ nhà hàng là một bước tiến đột phá của Anh Minh Group trong quá trình phát triển nhằm mang lại cho khách hàng những trải nghiệm mới mẻ và trọn vẹn về ẩm thực
                            a(href="service.html") tìm hiểu thêm
            section#news
                .container
                    h1 tin tức - sự kiện
                .container-fluid
                    .row.news-banner
                        img(src="images/newsbanner.jpg", alt="")
                        .container
                            .news-slider
                                .item
                                    p.time Thứ 4, 20/10/2018 9:00 AM
                                    h2 Kampong Chicken House - hơn cả những gì bạn mong đợi
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                    a(data-fancybox, data-type="iframe", href="blog1.html")
                                .item
                                    p.time Thứ 4, 20/10/2018 9:00 AM
                                    h2 Từ biên tập viên truyền hình đến bà chủ thương hiệu cơm gà nổi tiếng
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                    a(data-fancybox, data-type="iframe", href="https://baomoi.com/tu-bien-tap-vien-truyen-hinh-den-ba-chu-thuong-hieu-com-ga-noi-tieng/c/19769735.epi")
                    .row
                        .col-lg-6
                            img(src="images/news1.jpg", alt="")
                            .title
                                h2 Trải nghiệm phong cách ẩm thực tươi mới tại COCA Restaurant Hà Nội
                                p Thứ 4, 20/10/2018 10: AM
                            a(data-fancybox, data-type="iframe", href="http://cocasuki.vn/trai-nghiem-phong-cach-am-thuc-tuoi-moi-tai-coca-restaurant-ha-noi-n23.html")
                        .col-lg-6
                            img(src="images/news2.jpg", alt="")
                            .title
                                h2 Hành trình nâng tầm dịch vụ cho những món ăn hè phố
                                p Thứ 4, 20/10/2018 10: AM
                            a(data-fancybox, data-type="iframe", href="https://vtc.vn/hanh-trinh-nang-tam-dich-vu-cho-nhung-mon-an-he-pho-d430144.html")
            section#contact
                .container
                    h1 liên hệ với chúng tôi
                    .row
                        .col-lg-6
                            <ion-icon name="home"></ion-icon>
                            p Tầng 2, Tòa nhà Petrowaco,
                                br
                                |97-99 Láng Hạ, Đống Đa, Hà Nội
                        .col-lg-6
                            <ion-icon name="call"></ion-icon>
                            p 024 6251 5355

            section#map
                .detail
                    .title
                        <ion-icon name="pin"></ion-icon>
                        h3 Trụ sở
                            br
                            | Anh Minh Group
                    p Tầng 2, Tòa nhà Petrowaco, 97-99 Láng Hạ, Đống Đa, Hà Nội
                    a(href="https://www.google.com/maps/place/T%C3%B2a+nh%C3%A0+97-99+L%C3%A1ng+H%E1%BA%A1/@21.0143412,105.8117341,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ab63baab0d6d:0x6c01e4981a4e6941!8m2!3d21.0143412!4d105.8139228", target="_blank")
                        | see on google maps
            include footer.pug

            .fb-root
script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
script(src="js/jquery.js")
script(src="js/gsap.min.js")
script(src="js/scrollMagic.min.js")
script(src="js/debug.addIndicators.min.js")
script(src="js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/slide.js")
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
script(src="js/script.js")
script.
    $('.d-nav').hc_menu({
        open: '.open-mnav',
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
