<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="simple pug template")
        meta(name="author", content="latiosthinh")

        title Home
        //- bootstrap
        link(rel="stylesheet", href="css/bootstrap.min.css")
        //- font
        //- link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        //- link(rel="stylesheet", href="fonts/elegantIcon/elegantIcon.css")
        link(rel="stylesheet", href="css/slick.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        //- [if lt IE 9]>
        //-     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]
    body.pink
        .wrap
            include header

            
            section#coca1
                img(src="images/kbanner.jpg", alt="")
                .container
                    img(src="images/klogo.png", alt="")
                    p Có khá nhiều các nhà hàng ngon chuyên về những món gà, nhưng không phải nhà hàng nào cũng chú trọng chất lượng của từng món ăn được như nhà hàng Kampong Chicken House! Để kể về những món ngon ở Kampong Chicken House có lẽ bạn sẽ phải mất cả tiếng đồng hồ mới kể hết được, bởi hương vị món ăn ở đây nổi tiếng thơm ngon từ những món khai vị, món chính, món ăn kèm đến cả những món tráng miệng sau bữa ăn cũng thật hấp dẫn. Đặt biệt Gà ở Kampong Chicken House đều là gà ta thả vườn nên không chỉ thơm ngon, ngọt đậm mà còn an toàn nữa.
                    
                    a(href="datban.html") Đặt bàn ngay

            section#coca2
                .container
                    h2 Lịch Sử Hình Thành
                    p Ra đời từ tháng 04 năm 2015, Kampong Chicken House luôn được khách hàng nhắc tới là mô hình nhà hàng đầu tiên phục vụ chuyên biệt Cơm gà Hải Nam chuẩn phong vị Singapore. Với phương châm “Từ trang trại đến bàn ăn”, Kampong đã và đang mang đến cho khách hàng những món ăn được chế biến từ nguồn gà ta sạch, được chăn nuôi tại những trang trại đạt tiêu chuẩn Viet GAP.
                        br
                        | Với thiết kế không gian xanh mát, hiện đại và luôn tuân thủ triết lý “nhà hàng không khói thuốc”, Kampong không chỉ là điểm đến lý tưởng cho những buổi hẹn hò mà còn là điểm đến phù hợp cho những bữa tiệc với sức chứa lên tới hơn 200 khách hàng.
                        br
                        | Kampong là không chỉ là điểm đến yêu thích của thực khách Việt Nam mà còn của rất nhiều khách hàng nước ngoài đang sinh sống và làm việc tại Việt Nam, đặc biệt là thực khách đến từ các quốc gia châu Á như Hàn Quốc, Nhật Bản,…


            section#coca3
                .coca-slider
                    img(src="images/ks.jpg", alt="")
                    img(src="images/ks.jpg", alt="")
                    img(src="images/ks.jpg", alt="")
                    img(src="images/ks.jpg", alt="")
                    img(src="images/ks.jpg", alt="")
                    
            section#coca4
                .container
                    .row
                        .col-lg-6
                            h2.cr Quy Mô Hoạt Động
                            p.cbl Với nhà hàng đầu tiên tại số 107 Lò Đúc năm 2015, Kampong Chicken House đã mở rộng tới 3 nhà hàng vào năm 2017
                                br
                                | Mỗi nhà hàng Kampong Chicken House có sức chứa từ 120 đến 250 khách và được rất nhiều khách hàng yêu thích và lựa chọn trong những dịp hàng ngày.
                                br
                                | Bên cạnh đó, các nhà hàng Kampong Chiken House tọa lạc tại các khu vực trung tâm văn hóa và kinh tế, rất phù hợp và thuận tiện cho việc di chuyển.

                            a(href="http://kampongchickenhouse.com.vn") TỚI WEBSITE KAMPONG
                        .col-lg-6.img.r
                            img(src="images/kquymo.jpg", alt="")
                        .col-lg-6.img.l
                            img(src="images/kquymo.jpg", alt="")
                        .col-lg-6.right
                            h2.cr Món Ăn Đặc Trưng
                                br
                                | Kampong Chicken House
                            p.cbl Không chỉ phục vụ món Cơm Gà Hải Nam chuẩn phong vị Singapore, Kampong được thực khách yêu mến bởi thực đơn gần 200 món ăn được chế biến từ nguyên liệu tươi ngon mỗi ngày như gà bỏ lò Kampong, sa lát Kampong, …
                            a(href="http://kampongchickenhouse.com.vn") TỚI WEBSITE KAMPONG
                h1   
                    a(href="datban.html") Đặt bàn ngay

            section#coca5
                img(src="images/clienhe.jpg", alt="")
                .container
                    h2 Liên Hệ
                    .row
                        .col-lg-6  
                            p Kampong Chicken House 
                            p Hỗ trợ CSKH : 0835935555
                                a(href="tel:+0835935555")
                            p Website: kampongchickenhouse.com.vn
                                a(href="http://kampongchickenhouse.com.vn")
                            p FACEBOOK: FB/KAMPONG.VN
                                a(href="https://www.facebook.com/kampong.vn/")
                        .col-lg-6
                            p Cơ sở 1: 107 Lò Đúc, Hai Bà Trưng, Hà Nội
                            p Cơ sở 2: 16 Đào Tấn, Ba Đình, Hà Nội
                            p Cơ sở 3: N5D Hoàng Đạo Thúy, Thanh Xuân, Hà Nội
                            p Cơ sở 4: 12 Phạm Ngọc Thạch, Đống Đa, Hà Nội
                            p Cơ sở 5: TT8, số 9 Nguyễn Hoàng, Nam Từ Liêm, Hà Nội

            include footer.pug

            .fb-root
script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
script(src="js/jquery.js")
script(src="js/gsap.min.js")
script(src="js/scrollMagic.min.js")
script(src="js/debug.addIndicators.min.js")
script(src="js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/slide.js")
script(src="js/script.js")
script.
    $('.d-nav').hc_menu({
        open: '.open-mnav',
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
