<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="simple pug template")
        meta(name="author", content="latiosthinh")

        title Home
        //- bootstrap
        link(rel="stylesheet", href="css/bootstrap.min.css")
        //- font
        link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        //- link(rel="stylesheet", href="fonts/elegantIcon/elegantIcon.css")
        link(rel="stylesheet", href="css/slick.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        //- [if lt IE 9]>
        //-     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]
    body
        .wrap
            include header

            
            section#kdnq
                .container
                    .row
                        h1 Liên Hệ Nhượng Quyền Thương Hiệu
                        p Anh Minh Group luôn nỗ lực phát triển, đổi thay để đem lại giá trị tốt nhất cộng đồng. 
                            br
                            |Chúng tôi vẫn đang tìm kiếm những đối tác phù hợp trên con đường phát triển bền vững.
                            br
                            | Hãy gửi thông tin về cho chúng tôi nếu bạn mong muốn tham gia!
                        
                        .col-lg-6
                            h2 Thông tin cá nhân

                            label Họ và tên*
                            input(type="text", placeholder="Điền tên đầy đủ của bạn")

                            label Số điện thoại*
                            input(type="text", placeholder="Điền số điện thoại của bạn để chúng tôi có thể phản hồi")

                            label Email*
                            input(type="text", placeholder="Điền email của bạn để chúng tôi có thể phản hồi")

                            label Địa chỉ liên hệ*
                            input(type="text", placeholder="Điền địa chỉ của bạn")
                            .b
                                h3 Bạn có đang làm việc trong một tổ chức, công ty nào không?
                                .custom-select
                                    select
                                        option Chọn
                                        option Có
                                        option Không
                            .b
                                h3 Bạn đã từng kinh doanh dịch vụ nhà hàng bao giờ chưa?
                                .custom-select
                                    select
                                        option Chọn
                                        option Có
                                        option Không
                            .b
                                h3 Bạn biết tới chúng tôi qua kênh thông tin nào?
                                .custom-select
                                    select
                                        option Chọn
                                        option Bạn bè, gia đình hoặc đồng nghiệp
                                        option Social media (Facebook, Zalo, Instagram)
                                        option Địa điểm kinh doanh của Anh Minh Group
                                        option PR (báo mạng và báo giấy)
                                        option Kênh khác

                        .col-lg-6.col-right
                            h2 Thông tin nhượng quyền
                            .b
                                h3 Bạn mong muốn nhượng quyền thương hiệu nào?
                                .custom-select
                                    select
                                        option Chọn
                                        option Kampong Chicken House
                                        option COCA Restaurant
                                        option Duck Plus
                            .b
                                h3 Bạn dự định khi nào có thể bắt đầu tham gia nhượng quyền?
                                .custom-select
                                    select
                                        option Chọn
                                        option Càng sớm càng tốt
                                        option 3-6 tháng
                                        option 6-12 tháng
                            .b
                                label Bạn dự định nhận nhượng quyền ở khu vực nào?
                                small (Vui lòng ghi rõ Quận/Huyện và Tỉnh/Thành phố)
                                input(type="text")
                            .b
                                h3 Bạn đã chọn được địa điểm kinh doanh chưa?
                                .custom-select
                                    select
                                        option Chọn
                                        option Đã chọn
                                        option Chưa chọn
                            
                            .b
                                h3 Bạn dự định đầu tư ngân sách bao nhiêu cho chi phí nhượng quyền?
                                .custom-select
                                    select
                                        option Chọn
                                        option 500 triệu - 1 tỷ
                                        option 1 tỷ - 1.5 tỷ
                                        option 1.5 tỷ - 2 tỷ
                                        option Trên 2 tỷ
                                
                            .b
                                h3 Có bao nhiêu cổ đông tham gia góp vốn với bạn?
                                .custom-select
                                    select
                                        option Chọn
                                        option Một
                                        option Từ hai trở lên
                            .b
                                h3 Bạn mong muốn nhượng quyền theo quy mô nào?
                                .custom-select
                                    select
                                        option Chọn
                                        option Nhượng quyền theo điểm
                                        option Nhượng quyền theo khu vực
                                        option Nhượng quyền độc quyền

                        .col-12
                            input(type="submit", value="Gửi")

            include footer.pug

            .fb-root
script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
script(src="js/jquery.js")
script(src="js/gsap.min.js")
script(src="js/scrollMagic.min.js")
script(src="js/debug.addIndicators.min.js")
script(src="js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/slide.js")
script(src="js/script.js")
script.
    $('.d-nav').hc_menu({
        open: '.open-mnav',
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
